[2022-02-18 07:14] NZOleg commented on #776
I have exact same issue with mainnet!

`INFO [02-18|07:10:41.669] Starting Geth on Ethereum mainnet...
WARN [02-18|07:10:41.669] Config field is deprecated and won't have an effect name=ethconfig.Config.EVMInterpreter
WARN [02-18|07:10:41.669] Config field is deprecated and won't have an effect name=ethconfig.Config.EWASMInterpreter
INFO [02-18|07:10:41.671] Maximum peer count

[2022-02-18 08:22] bert2002 commented on #502
Hi,
we are trying to run a full node (archive + tracing) and pruning does not work when tracing is enabled (correct me if I am wrong). Our machine is constantly `2 month behind HEAD` and I am wondering how this can be. The specifications are:

AWS Instance Type: `c5.4xlarge` (16 core and 32gb of memory)
Disk: `gp3` with `6TB`, `16000 iops` and throughput of `500mb`

Anyone running into similar pro

[2022-02-18 08:41] Codegigi commented on #771
Thanks @KeefeL do you know if there any documentation or reference I can refer to for understanding voting mechanism of bsc? That way I can move further with it

[2022-02-18 08:54] Codegigi commented on #735
Hey @RumeelHussainbnb can you add me to the discord link that you just mentioned in the previous message. I have a few queries regarding the voting mechanism in bsc. Thanks!

[2022-02-18 09:23] RumeelHussainbnb commented on #735
Please proceed to join our Discord channel for more discussion at https://discord.gg/bnbchain

[2022-02-18 11:24] #269 closed

[2022-02-19 07:44] simuty commented on #774
**how to avoid it, thanks**

[2022-02-20 17:34] KyloYang888 commented on #220
Hi team. I get the same error in v1.1.8, how is it handled please?

[2022-02-21 04:50] billyadelphia opened #778 "RPC eth_call with "pending" parameter does not seem to work on BSC"
I tried to check the state changes on the pending transactions using `eth_call` RPC with `pending` as the block parameter, it doesn't seem to work on geth BSC. It works fine on GETH for Ethereum.
Does BSC change anything regarding of this capability ?

[2022-02-21 07:20] DamCzech commented on #702
Can anyone fix this problem?
It looks comical.

[2022-02-21 08:40] seonggwonyoon commented on #502
I have experienced such a problem several times, so I changed the specification from c5.4xlarge to i3en.2xlarge 5 months ago, downloaded the latest snapshot and synced it, and I am using it without any problems until now.

[2022-02-21 08:50] bert2002 commented on #502
Do you use EBS volume for storage or the attached NVMe's? (because they are only 2x2500mb) and my node is already at ~4.9TB.

[2022-02-21 08:52] seonggwonyoon commented on #502
I'm using attached nvme disk.
If the data size of the node is large, it is recommended to delete it, download a new snapshot, and synchronize it.

[2022-02-21 08:54] bert2002 commented on #502
I dont think this works for tracing enabled nodes?

[2022-02-21 12:35] KyloYang888 commented on #770
Solutions：

1.
highestBlock - 15322391 > 0:
`
t=2022-02-21T12:05:45+0000 lvl=warn msg="System clock seems off by -49.464712314s, which can prevent network connectivity"
t=2022-02-21T12:05:45+0000 lvl=warn msg="Please enable network time synchronisation in system settings."
`

sudo apt-get install ntp
sudo service ntp start
https://github.com/ethereum/go-ethereum/issues/14717

2.
`
peercount=0
`

a

[2022-02-21 17:48] #770 closed

[2022-02-21 18:45] ko0f commented on #758
According to geth command line help, `--cache   Megabytes of memory allocated to internal caching`. That includes database, trie, gc and snapshot caches.

But even with `--cache=10000` it uses 20GB of memory. Either they've added cache that's not included, or they ignore this arg.

[2022-02-22 01:58] Loverush commented on #778
Hi billyadelphia, could you please provide more detailed information, like your environment config, the command you ran and the error message?

[2022-02-22 02:15] #777 closed

[2022-02-22 04:56] billyadelphia commented on #778
@Loverush it just RPC call, example like this

example with web3 js
[code]

I'ts not about any error, but with `pending` as the 2nd parameter, the return value should be state on pending transactions, rather than from latest block.

For example, I send a transaction that changed the a value on the contract. If I use "pending" as the parameter, the return value should be the new value even if that

[2022-02-22 06:08] Codegigi opened #779 "Is there a way to add an external node to the active validator set in bsc? Are there any specific functions for doing so?"
This should only be used in very rare cases e.g. if you are not 100% sure if something is a bug or asking a question that leads to improving the documentation. For general questions please use [discord](https://discord.gg/nthXNEv) or the Ethereum stack exchange at https://ethereum.stackexchange.com.

[2022-02-22 06:16] Codegigi opened #780 "Is there a way to add a external node to the validator set in bsc? Does BSC have a built- in function for it(if so , then which function is called for the same?) ?"
This should only be used in very rare cases e.g. if you are not 100% sure if something is a bug or asking a question that leads to improving the documentation. For general questions please use [discord](https://discord.gg/nthXNEv) or the Ethereum stack exchange at https://ethereum.stackexchange.com.

[2022-02-22 06:24] Loverush commented on #778
Yes, to improve the performance, we made some changes on that. Both **eth.getBlock('pending')** and **eth.getBlock('latest')** will return the latest block. For more information, you can refer to #358.

[2022-02-22 06:27] Loverush commented on #778
@billyadelphia Yes, to improve the performance, we had made some changes. Now both **eth.getBlock('pending')** and **eth.getBlock('latest')** will return the latest block. For more information, you can refer to #358.

[2022-02-22 06:44] Loverush commented on #779
Hello @Codegigi, I'm afraid there's no way to add an external node to the validator set manually.

[2022-02-22 06:45] Loverush commented on #780
Same as #779.

[2022-02-22 06:45] #780 closed

[2022-02-22 07:36] billyadelphia commented on #778
@Loverush I want that feature to be able to check state on the pending transactions. It is possible if I change some code to enable that feature for my own build of geth ?

[2022-02-22 07:58] msak222 opened #781 "gas required exceeds allowance (8000000)"
Hello everyone, my smart contract runs normally on ganache and the public test network, but in the private chain built by myself, it always prompts gas required exceeds allowance (8000000)

![image](https://user-images.githubusercontent.com/19371846/155087516-68362212-b380-4517-8f6b-5233d7391fa1.png)

source code：

![image](https://user-images.githubusercontent.com/19371846/155087767-e5f1474d-17fd

[2022-02-22 08:09] Loverush commented on #778
@billyadelphia You can try to compare [geth miner module](https://github.com/ethereum/go-ethereum/blob/d6f49bf764c48e9415b168e701b6dc26566a675c/miner/miner.go#L192) with [BSC miner module](https://github.com/bnb-chain/bsc/blob/859186f299fa94fada3e92608db1392be1a45599/miner/miner.go#L185) and do some modification. **PLEASE NOTE**, this may lead to other bugs, I'm not sure.

[2022-02-22 08:09] #778 closed

[2022-02-22 08:09] Feloot commented on #652
I had the same issue and changing RPC URL fixed that.

Specifically, I was on : https://bsc-dataseed.binance.org/
And changed to : https://bsc-dataseed1.binance.org

[2022-02-22 08:27] Codegigi commented on #779
How about the second part of the question ie of existing / built-in functions?

[2022-02-22 14:58] dgdeivid commented on #758
I put --cache=40000  on a 128GB server and the node takes up all the memory until it crashes.

[2022-02-23 06:39] Zaczero commented on #758
While I can see a higher than `--cache` requested RAM usage _(probably some additional non-cache-related stuff)_ on both ETH and BSC nodes, it's been pretty stable. Never had any OOM issues. And I suppose that's how GETH clients tend to be.

![image](https://user-images.githubusercontent.com/10835147/155271444-279b7b11-c973-41e6-8035-2dd84e96766b.png)
_[RES] column is the actual physical memory be

[2022-02-23 11:45] bosswhale commented on #652
Since yesterday (2022/02/22) i'm having this issue.
I did change the node, made tweaks on settings, none of these help.

After a few seconds,
[code]

[2022-02-23 12:22] bosswhale opened #782 "Error [ERR_UNHANDLED_ERROR]: Unhandled error. ({ code: -32000, message: 'header not found' })"
Issue https://github.com/bnb-chain/bsc/issues/652 was closed but issue wasn't solved.

Since yesterday (2022/02/22) i'm having this problem.

After a few seconds, the following message interrupts my process:
[code]
Here is the truffle config:
[code]

And the command:
[code]
I did change the node, made tweaks on settings, none of these help.
Also, i had the same issue with web3 javascript use.

[2022-02-23 12:59] Loverush commented on #779
@Codegigi No

[2022-02-23 12:59] #779 closed

[2022-02-24 10:05] forcodedancing opened #783 "Potential goroutine leak around diffsync"
#### System information

Geth version: `v1.1.8`
OS & Version: Linux
Commit hash : (if `develop`)

#### Expected behaviour
We are running the bsc full node with diffsync enabled for several days.
Many goroutine profiles were taken, and we found the count of goroutine around diffsync increased a lot.

We expect there is no such big increase in the count of goroutine (as described below).

#### Actua

[2022-02-24 14:29] CryptoidsWorld opened #784 "does bsc support eip-2930"
I send bnb from my contract to my gnosis-safe wallet, it does not work. Then I found this [stackoverflow](https://ethereum.stackexchange.com/questions/122347/transferring-eth-from-contract-to-safe), but it seems doesn't work on bsc. any one can help me? thank you!

[2022-02-24 17:22] netquery opened #785 "Stuck at "Allocated cache and file handles""
Geth starts, but gets stuck after printing into log this line:
[code]

geth version:
[code]

snapshot: https://tf-dex-prod-public-snapshot-site1.s3-accelerate.amazonaws.com/geth-20220223-prune-ancient.tar.lz4?AWSAccessKeyId=AKIAYINE6SBQPUZDDRRO&Signature=k6yJlcR7pda3E5CaArHjAUMxd38%3D&Expires=1648270913

[2022-02-24 17:38] francesco-clementi-92 commented on #261
@KDawid did you fix the issue?

[2022-02-25 03:57] forcodedancing commented on #783
not valid

[2022-02-25 03:57] #783 closed

[2022-02-25 10:13] Loverush commented on #775
Hello @rubobaquero, from the information you provided, I think your node was running `snapsync` (rather than snapshot). Maybe it's because you didn't make it right whth replace data. You can refer to [STEP3](https://github.com/bnb-chain/bsc-snapshots).

[2022-02-25 10:15] Loverush commented on #785
Hello @netquery. It's interesting that you got stuck and had only 3 line log. Maybe you can try to switch the log level to `debug` and get more information.

[2022-02-25 10:16] Loverush commented on #784
Hello @CryptoidsWorld. Sorry bsc doesn't support eip-2930. And we have no plans to do that in the near future.

[2022-02-25 10:16] #784 closed

[2022-02-25 10:18] Loverush commented on #782
Hello @bosswhale. You can try config as below:
[code]

[2022-02-25 10:20] Loverush commented on #781
Hello @msak222. You can try to add below lines to `/config/config-bsc-rpc.toml`.
[code]

[2022-02-25 15:18] CryptoidsWorld commented on #784
@Loverush thank your for reply, I made a mistake, the bnb locked in the contract now. So will bsc support it in the future？

[2022-02-25 21:38] Unker commented on #652
I have the issue too.
I'm doing like this https://docs.binance.org/smart-chain/developer/deploy/truffle-new.html
In the testnet this works however in the main does not want to work

[2022-02-27 21:42] Thankgod20 commented on #420
Light client node not working. It’s giving out errors stating it’s temporarily unavailable

[2022-02-27 21:49] Thankgod20 commented on #420
panic: Error initializing DB: resource temporarily unavailable

[2022-02-28 07:28] Art-Mas commented on #776
Same...

[2022-02-28 12:45] kawahwookiee commented on #750
@KeefeL any comments on the above?

[2022-03-01 00:35] yarsawyer commented on #702
So, is noone serving lightnodes anymore or what is going on?

[2022-03-03 12:03] shvmjn opened #788 "BSC (Binance Smart Chain) local testnet"
Hello,
i am trying to start a local testnet/private network for binance smart chain just like ganache/geth-dev mode.
In official docs  https://docs.binance.org/smart-chain/developer/deploy/local.html  it is extremely unclear how to do so, they have started geth local node which has native currency ETH and not BNB and also PoW consensus mechanism, i'm highly confused about that or maybe i'm missing

[2022-03-03 12:08] shvmjn commented on #231
did you find any solution? i'm also stuck with the similar problem

[2022-03-04 02:26] KeefeL commented on #774
You can enlarge the triesInMemory's value, it can slow down the persist trie frequency.

--triesInMemory value               The layer of tries trees that keep in memory (default: 128)

[2022-03-04 02:37] KeefeL commented on #771
You can refer to https://docs.binance.org/smart-chain/guides/bsc-intro.html staking part

[2022-03-04 02:40] #766 closed

[2022-03-04 02:40] #765 closed

[2022-03-04 02:41] #759 closed

[2022-03-04 02:43] #753 closed

[2022-03-04 05:55] Codegigi commented on #771
Thanks @KeefeL . I'll check it out :)

[2022-03-04 06:48] #775 closed

[2022-03-04 06:51] #781 closed

[2022-03-04 07:23] Loverush commented on #788
Hello @shvmjn, you can refer to https://docs.binance.org/smart-chain/developer/fullnode.html and #502

[2022-03-04 12:01] logrusorgru commented on #231
@shvmjn , hello. No, I'm not. I've switched to Ethereum local private network, because for me (work with smartcontracts and ABI) there's no difference. And Ethereum is better documented.

[2022-03-05 05:36] shvmjn commented on #788
@Loverush i already referred it, ran 'make geth' command, but still it has many problems like it did not mine contract deployment transactions (currently i'm running it in --dev mode which is more like ethereum geth node with network id 1337 and not 1000 and is working when contracts are deployed to it, but i feel its wrong).

That link didn't help also #502 is about production bsc node.

[2022-03-07 02:23] Loverush commented on #788
If you wanna "mine contract deployment transactions", you have to run a validator node.

[2022-03-07 02:23] #782 closed

[2022-03-07 15:44] zby810 opened #789 "Testnet can't be added to metamask"
I failed to add binance smart chain testnet to metamask, following https://docs.binance.org/smart-chain/developer/rpc.html.
All RPC has been tried and none works. Metamask erro notice "Could not fetch chain ID. Is your RPC URL correct?"

Talked to Metamask support team and they tried every solution from their side and problem can't be solved.

Can anybody here help?

[2022-03-07 22:07] blissend commented on #766
You can compile the binary with the compaction level0 turned down/off in ethdb/leveldb/leveldb.go under the new constructor. However from what I'm seeing, isn't the solution. Data size is massive and still doesn't sync fast enough even on specs far beyond what it needs.

[2022-03-07 22:27] blissend opened #790 "how to segment data for archive node"
Hi, I saw the posts in https://github.com/bnb-chain/bsc/issues/766 from @KeefeL about segmenting your node to do an archive. How does one do that? We have an archive and I would like to see how to break it up into segments (for example block 1 - 1,000,000 for one node and block 1,000,001 - 3,000,000 for another).

[2022-03-08 07:09] shvmjn commented on #788
i tried that but found no difference between running full node and validator node, on both, compiled with truffle or even hardhat the error is same "No Contract at Address 0x812...7h45fe" and sometimes "The transaction is not mined within 750 seconds"

so the problem is only that the geth 1.1.8 with genesis configuration as follows:

{
     "config": {
       "chainId": 1000,
       "homesteadBloc

[2022-03-09 03:02] COLUD4 opened #791 "prune-block"
1、 I executed the command
 </mnt3/bscmain/core/gethBSC snapshot prune-block --datadir /mnt3/bscmain/node --datadir.ancient /mnt3/bscmain/node/geth/chaindata/ancient --block-amount-reserved 200000>.
However, after the pruning is completed, the hard disk storage occupied by the block does not change.
2、 I executed the command
</mnt3/bscmain/core/gethBSC snapshot prune-block --datadir /mnt3/bscmain/n

[2022-03-09 11:53] White-Rabbit-7 commented on #670
I am having this exact same issue constantly.

 _ERROR[03-09|03:52:05.913] Ethereum peer removal failed             peer=7946a12b err="peer not registered"_

[2022-03-10 03:47] KyloYang888 commented on #670
I am having this exact same issue constantly.

[code]

[2022-03-10 09:15] kawahwookiee commented on #750
@KeefeL I am still having this issue. re-syncing from the latest snapshot had no effect

[2022-03-13 00:05] DawkliCrypto commented on #778
Does enabling the --mine flag fixes the issue ?

[2022-03-13 03:06] kejinxun opened #793 "txpool_contentfrom"
# Rationale

go-ethereum have already had.I think this is for reducing txpool pressure.  So that developers can better pay attention to txPool changes

# Implementation

Do you have ideas regarding the implementation of this feature?
Are you willing to implement this feature?

[2022-03-13 18:32] banshee commented on #189
Also, it's a bit more complicated right now because the snapshot given on the website (here - https://docs.binance.org/smart-chain/validator/snapshot.html) is broken.  Looks like the AWS security settings got messed up.

[code]

[2022-03-14 10:19] realuncle commented on #776
If you do not do init genesis on BSC, it will use the default ethereum mainnet genesis block and eventually cause peer to peer handshake error.

[2022-03-14 10:38] realuncle commented on #788
[code]

Do you start the miner, otherwise the node can not produce blocks to validate the transaction?

[2022-03-14 10:48] SolidityGo commented on #793
Got it, we are checking that, thank you.
If there are any updates, I will keep up with them here.

[2022-03-14 10:57] SolidityGo commented on #791
we are checking it

[2022-03-14 10:57] guagualvcha commented on #757
It will be fixed in this PR.

[2022-03-14 11:23] SolidityGo commented on #791
could you give more details, what is the original blockNumber when you exec this

[2022-03-14 11:57] masayil commented on #757
thanks

[2022-03-14 11:57] #757 closed

[2022-03-15 05:22] joeylichang commented on #791
It looks like the “/mnt3/bscmain/core/gethBSC snapshot prune-block ” did not execute successfully.
If success, geth-client will skip check genesis block, because it be deleted.
so, could you give more details ablout  “/mnt3/bscmain/core/gethBSC snapshot prune-block ” log.

[2022-03-15 08:06] shvmjn commented on #788
@realuncle of'course i started the miner, transaction like transfer of eth are being mined from one account to another using geth console command but contract deployment transactions are not being mined.

[2022-03-15 16:50] CiroPython commented on #652
same issue for me

[2022-03-16 09:51] eepaul opened #801 "Increasing aggregatorMemoryLimit make chaindata currupted"
#### System information

Geth version: `geth v1.1.8`
OS & Version: Ubuntu 20.04 LTS

I have a geth node that has been working. The command line is like "geth --cache 18000 --diffsync --rpc.allow-unprotected-txs --txlookuplimit 0 --ws --ws.port 3334 --ws.api eth,net,web3,admin,txpool,personal --pipecommit"

Since I have lots of memory, I decided to increase aggregatorMemoryLimit to 128 * 1024 * 102

[2022-03-16 12:21] eepaul commented on #801
Looks like this will change the parameters of the bloom filter in difflayer.

Essentially a bloom filter with different parameter is used in new diff layer, when it's flatten, the bloom filter of  the previous flatten layer has different parameters. I guess this is the cause.

But I am not sure...

[2022-03-16 13:25] DawkliCrypto commented on #778
@billyadelphia did you manage to make the changes ?

[2022-03-17 04:59] KyloYang888 opened #804 "we can't query the historical block information"
Hi team. After I run the snapshot with v1.1.8 node, the node is running fine, but we can't query the historical block information. Does anyone know what is the reason for this? Thanks

#### System information

Geth version: `v1.1.8`
OS & Version: CentOS

#### Actual behaviour

admin@ip-172-30-34-83:~$ curl --location --request POST 'http://127.0.0.1:8545' \
--header 'Content-Type: application/json

[2022-03-17 10:13] i11m20n opened #805 "currentBlock is always about 100 blocks away from highestBlock"
Question:
My BSC node is always unable to sync to the highest block, about 100 or so away from the highest block.

Geth version:

Sync step:
[code]

Config:
[code]

Screenshot:
<img width="397" alt="image" src="https://user-images.githubusercontent.com/13911593/158787027-4c79999c-3e26-47a6-bf0b-a82ac4d0ed5d.png">

[2022-03-17 12:36] kugimiya530 opened #806 "how to allow gas over 1BNB"
i want to make my node allow over 1BNB gas

where can i modify this

config? if yes which line

thx ! appreciate

[2022-03-18 03:05] masayil commented on #804
I think `eth_getBlockByNumber` is not the historical block information.

[2022-03-18 03:08] kugimiya530 commented on #806
i found some command
but i am not sure which one i need

--miner.gasprice value              Minimum gas price for mining a transaction (default: 1000000000)
  --miner.gaslimit value              Target gas ceiling for mined blocks (default: 8000000)

  --gpo.maxprice value

[2022-03-18 04:19] #806 closed

[2022-03-18 04:22] Programmierus opened #809 "Repeatative OOM since 24 hours from now"
#### System information

Geth version: 1.1.8
OS & Version: Linux

#### Expected behaviour

No OOM

#### Actual behaviour

![image](https://user-images.githubusercontent.com/49633745/158936886-644089a5-206f-483a-bdb3-652a05a86e6a.png)

#### Steps to reproduce the behaviour

This occurs on all of my 4 nodes and from what I hear by other operators too. The node simply runs out of memory minutes after

[2022-03-18 05:59] SolidityGo commented on #809
got it, we will check that

[2022-03-18 06:11] SolidityGo commented on #805
got it , we will check that , have you tried running on other machine ?

[2022-03-18 06:11] DADDY-XEP commented on #553
https://twitter.com/JunoNetwork

@junoswap.com

[2022-03-18 06:43] i11m20n commented on #805
the same phenomenon exists on other machines.

[2022-03-18 06:44] i11m20n commented on #805
the same phenomenon exists on other machines.

[2022-03-18 06:50] cosinlink commented on #789
you should set Chain ID to `97` for testnet

[2022-03-18 06:52] SolidityGo commented on #793
We are merging the relevant code into BSC

[2022-03-18 07:02] SolidityGo commented on #805
It is common since fast syncing process, you should use `https://github.com/bnb-chain/bsc-snapshots` to boost the process

[2022-03-18 08:06] Classical1956 commented on #624
Hi bro. Can you give me a connection to the server you purchased

[2022-03-18 08:18] Classical1956 commented on #624
Hi bro. Can you give me a connection to the server you purchased

[2022-03-18 08:25] KyloYang888 commented on #804
Hi @masayil, thank you for your answer . I downloaded the snapshot from [](https://github.com/bnb-chain/bsc-snapshots) . I think this is the Database after Ancient Data Prune.  Why can't download the data from this URL?  Where should I go to download the full snapshot of the date?  Thanks.

[2022-03-18 09:01] masayil commented on #804
![image](https://user-images.githubusercontent.com/65291464/158972515-9ab500be-d4d9-44c8-92ad-fff90ad4433a.png)

[2022-03-18 09:06] masayil commented on #804
![image](https://user-images.githubusercontent.com/65291464/158973249-1fb877b0-ae58-4c51-8485-8f972c39ab54.png)
The url is right. But in this repo ,there are two diffrent snapshot. The second one is the full snapshot of the data.

[2022-03-18 09:07] eepaul commented on #801
This was caused by other reason. I'll close this

[2022-03-18 09:07] #801 closed

[2022-03-18 09:22] i11m20n commented on #805
thanks a lot for your suggestion, but I'm more interested to know what is causing this behavior.

[2022-03-18 10:06] KyloYang888 commented on #804
Hi @masayil . I downloaded the snapshot from the screenshot, I will try again with the new snapshot data. Thanks again.

[2022-03-18 14:25] m-e-r-k-l-e-root commented on #805
How long have you been syncing? Syncing from scratch (w/ snap sync) even on a super beefy (>$2k/mo) bare metal machine takes ~24hrs, anything less powerful will take MUCH longer.

[2022-03-18 18:12] dgdeivid commented on #809
The same happens to me. I start the node indicating 30GB as maximum memory in the parameter but after several hours the geth process occupies the 126 GB of RAM and shuts down without giving any error message.

[2022-03-19 04:25] Programmierus commented on #809
Issue seems to be fixed:

![image](https://user-images.githubusercontent.com/49633745/159106634-4c5ba104-9ece-4928-a7bc-f3f54309cbc2.png)

I haven't changed anything on my side though. Would be interesting to hear some comments what has happened.

[2022-03-19 06:57] i11m20n commented on #805
sync for 1 week on 2TB SSD

[2022-03-19 09:50] m-e-r-k-l-e-root commented on #805
How much IOPS does your SSD have? How much RAM do you have & what CPU are you using?

[2022-03-19 16:28] julia-light commented on #776
Thanks ! your suggestion is very correct and my problem has been solved

[2022-03-19 16:28] #776 closed

[2022-03-21 03:59] #804 closed

[2022-03-21 07:57] Programmierus commented on #809
Guys, any update on this? Seems any BSC node running current version is affected badly...

[2022-03-21 09:52] m-e-r-k-l-e-root opened #811 "Error: "Propagated block has invalid body""
All of my nodes (version 1.1.8) are running (presumably) fine, i.e. they're fully synced to head state, have zero issues staying fully synced, etc., etc. But recently I've noticed this error appear every now and then amongst my nodes logs:

**_Propagated block has invalid body_**

Can this error be ignored? Or is it something to be worried about?

Thanks.

[2022-03-21 10:09] i11m20n commented on #805
I don't know if the screenshot below answers your question

![image](https://user-images.githubusercontent.com/13911593/159240325-bc58b4cf-f0b2-4686-8e10-84383a964fcd.png)

[2022-03-22 05:42] SolidityGo commented on #809
We are checking that, currently you can try using V1.1.7.

[2022-03-22 05:46] #793 closed

[2022-03-22 05:47] #789 closed

[2022-03-22 06:16] cosinlink commented on #809
Take a look at your startup command,  `--cache` can't be set more than 1/3 * `your ram size`

[2022-03-22 06:22] cosinlink commented on #805
Due to the huge amount of data, it is difficult for a common machine to keep up with the latest blocks

[2022-03-22 06:22] #805 closed

[2022-03-22 06:47] Programmierus commented on #809
Here is my current startup command. `--cache` is 27GB on a host with 128GB RAM... It's bare metal, nothing besides BSC node runs there. Graphs above also giving a picture of normal state of 27GB and spike of roughly 4-5x before it dies.

![image](https://user-images.githubusercontent.com/49633745/159423117-440bd886-f209-4576-bfb0-37dc98a61163.png)

As I mentioned before this setup was running smoo

[2022-03-23 02:50] qq601432505 commented on #652
How to do! ! ! ! ! ! ! ! ! ! ! !

[2022-03-23 02:59] yutianwu commented on #809
When the memory surges, can you take a profile for the node? You can use `curl -sK -v http://127.0.0.1:6060/debug/pprof/heap > heap.profile`.
You can enable the pprof server by adding `--pprof` in the command line.

[2022-03-23 03:01] yutianwu commented on #811
You can ignore this if your node can catch up

[2022-03-23 05:57] Programmierus commented on #809
I am currently trying to research some pattern why it happens. Seems to be some sort of requests. I'll update this ticket once I have more details (will collect profile too).

[2022-03-23 08:40] huahuayu opened #813 "how to be validator in private bsc network"
Hi, I want start a private bsc network for test purpose, in etherem I can simply use `--mine` flag to set the node be a miner, but it's not working in bsc.

I searched the issues and read the documents, it seems a `bnbcli` command can be used, but it's for production. Could you please provide some guidelines?

It's very simple in ethereum https://github.com/huahuayu/ethereum-local-private-network

[2022-03-23 10:24] huahuayu commented on #813
Hi @steventranjs is there a straightforward way to create a validator and run it.

[2022-03-23 13:05] #811 closed

[2022-03-24 01:28] huahuayu commented on #813
Hi @yutianwu I need a local test env which can lunch within mins and have fullly control so i can test things out. Without validator no block be produced.

[2022-03-24 02:11] yutianwu commented on #813
you can set up a private ethereum node, it's the same

[2022-03-24 02:25] huahuayu commented on #813
I made some changes for bsc node to speed up the trading, so I'd like to use bsc node to test. I think you do have benchmark tests besides mainnet?

[2022-03-24 04:37] lbadger commented on #785
I just did a prune. Started the node up again. I'm now having the same issue.

[2022-03-24 05:04] lbadger commented on #785
I changed my log level to debug.
[code]

[2022-03-24 05:15] kugimiya530 opened #814 "Txpool Detect slow in my own node"
i have compiler a exe to test txpool detect speed

https://youtu.be/xAw4qKCnbzU

the first one object is "quicknode"

second and third is my own node

is there any setting  in geth will cause this problem?

how can i improve it

from my vps to node has 0~2ms latency only

below is my command-line

------------

./geth --config ./config.toml --datadir ./node --cache 40000 --nousb --diffsync --pipec

[2022-03-24 06:57] i11m20n opened #815 "I want to deploy an archive node, what server configuration do I need to purchase?"
as title.

[2022-03-24 07:48] yutianwu commented on #785
you need to wait a rather long time, there are snapshot-related works ongoing.

[2022-03-24 07:53] yutianwu commented on #815
can you refer to https://github.com/bnb-chain/bsc/issues/502.

[2022-03-24 07:54] #696 closed

[2022-03-24 17:40] sppet commented on #696
Lol, closed this? Any explanation for that? Or just trying to hide the bugs under the carpet?

[2022-03-25 12:50] kakelyo commented on #790
我试过这样可行：
1、用archive模式从0同步到600万块高（大概2.5T）
2、然后停止全节点，把 整个全节点复制一份，复制到新的机器上，这台新的机器的全节点启动时，带上参数--nodiscover，这样新节点就不会同步区块了，永远停留在600万块高。
3、老的那个节点，执行geth snapshot prune-state 命令，清理老的区块，清理后，chaindata只剩200G大小
4、启动老的节点，老的节点就可以从600万块高开始继续同步，而且同步速度是1秒2个区块以上，很快

以此类推，每当全节点超过2T，就停止，复制一份，然后清理老区块，同步速度就可以一直很快了

[2022-03-26 09:10] NZOleg commented on #805
I tried to sync node without snapshot last month - I gave in after 2bil+ of known states. You are ~1/3 way through this. I believe it's creating a 'known state' for every transaction - currently, it's 2.7bil according to bscscan.

[2022-03-30 03:06] guagualvcha opened #819 "Enhance the performance of diffsync"
According to the test, the performance of `diffsync` is no better than a node with `pipecommit` enabled.   Need trouble-shoot the issue and improve the performance of diffsync.

[2022-03-30 04:07] lpf763827726 commented on #670
same issue
[code]

[2022-03-30 05:08] lpf763827726 opened #821 "Snapshot extension registration failed"
#### System information

Geth version: `1.1.8-859186f2`
OS & Version: Linux
Commit hash : (if `develop`)

#### Actual behaviour
[code]

#### Steps to reproduce the behaviour
[code]

i can sync before, when i sync in block 16053149, it stuck

[2022-03-30 06:19] yutianwu commented on #821
`peer connected on snap without compatible eth support` this error is normal, will not cause the sync issue. Is there any other errors?

[2022-03-30 06:19] #815 closed

[2022-03-30 06:23] yutianwu commented on #814
sorry, this is out of our scope to help.

[2022-03-30 06:23] #814 closed

[2022-03-30 06:56] lpf763827726 commented on #821
all error are here

[2022-03-31 01:20] itadakimatsu97 opened #824 "[Fullnode] What is the current "knownStates" of synced node?"
I set up a node on AWS:
- m5zn.3xlarge
- SSD gp3 4000 Gib with 12000 IOps and 250 Mb/s

Commnad:
`./geth --config ./config.toml --datadir ./node --diffsync --cache 25000 --rpc.allow-unprotected-txs --txlookuplimit 0`

After 3 days syncing:
![image](https://user-images.githubusercontent.com/63501822/160957067-3e13e357-2030-48b9-97cf-7736d510d10e.png)

Status of VPS during sycing:
![image](https://u

[2022-03-31 02:13] acswap opened #825 "How do I handle this node warning"
The log report enters the following warning, which has never occurred on any other node
t=2022-03-31T10:12:56+0800 lvl=warn msg="Failed to decode block body"            block=1  error=EOF
t=2022-03-31T10:12:56+0800 lvl=warn msg="Failed to decode block body"            block=2  error=EOF
t=2022-03-31T10:12:56+0800 lvl=warn msg="Failed to decode block body"            block=3  error=EOF
t=2022-03-31

[2022-03-31 02:44] chenhonghe opened #826 "Why can't the nApplyForBox function be found in the contract ?"
**Why can't the nApplyForBox function be found in the contract ?**

[https://bscscan.com/tx/0xd6935295182bc658bdf9dce9ccfaa39797b4f0648af5abd05476ec5247467bf4](https://bscscan.com/tx/0xd6935295182bc658bdf9dce9ccfaa39797b4f0648af5abd05476ec5247467bf4)

![1975656367](https://user-images.githubusercontent.com/3805951/160965605-f2e44b77-d2d9-423a-9894-df3747bf044a.jpg)

[2022-03-31 23:39] taweesakpintakam commented on #826
Reply

[2022-03-31 23:48] taweesakpintakam commented on #670
เมื่อ 30 มี.ค. 2022 11:07 "DouCrazy" ***@***.***> เขียนว่า

[2022-04-01 01:44] James19903 opened #828 "....."
.

[2022-04-01 02:32] yutianwu commented on #826
pls ask for help from the mbox community, thx

[2022-04-01 02:32] #826 closed

[2022-04-01 02:34] yutianwu commented on #828
there is a doc about how to run a full node, https://github.com/bnb-chain/bsc/issues/502

[2022-04-01 03:02] yutianwu commented on #825
can you refer to this https://docs.binance.org/smart-chain/developer/fullnode.html and start over again

[2022-04-01 03:03] yutianwu commented on #824
you need to sync from the snapshot, pls refer to this https://docs.binance.org/smart-chain/developer/fullnode.html

[2022-04-01 07:38] animosi opened #831 "Node installation: NO INIT"
#### System information
https://github.com/bnb-chain/bsc/releases
Geth version: 1.1.8.   TESTNET config/genesis
OS & Version: Linux
Commit hash :

#### Expected behaviour
INIT, allocate cache, init Chain config

#### Actual behaviour

Node does NOT init.

root@ip-10-0-101-244:/home/ubuntu/bsc# ./build/bin/geth --config ./config.toml --datadir /data --cache 18000 --rpc.allow-unprotected-txs --txloo

[2022-04-01 08:33] osizadmin opened #832 "No suitable peers available"
We got this issue in since morning.
err="getDeleteStateObject (b02a90bcb447736bde2cbca4102d49dc6f727f7b) error: no suitable peers available

77

Kindly check and advise us.

[2022-04-01 11:13] itadakimatsu97 commented on #824
I used a snapshot. Is my behavior unusual?

[2022-04-01 13:02] #828 closed

[2022-04-01 13:04] osizadmin commented on #832
Error: getDeleteStateObject (06a18828fd96ecb91e4b6765d81fcdd34835b37b) error: no suitable peers available

Still we have this issue. Let me know anyone solve it.

[2022-04-01 13:33] James19903 opened #833 "Static Peers and MaxPeers"
I have the default Static Nodes set up in the config.toml file but when I attach to geth and use this command:
admin.peers(), it doesn't show me any these, how can I see which Static Nodes am connected to?

[2022-04-01 13:51] guagualvcha commented on #825
I believe you have done block prune on this node. It is a bug of the prune tools.
`./geth snapshot prune-block --datadir ./node --datadir.ancient ./chaindata/ancient --block-amount-reserved 1024`

--block-amount-reserved  is a must for block prune, now you have to start over again, sorry about the trouble, this bug will be fixed in next release.

[2022-04-01 13:52] guagualvcha commented on #831
hi @animosi  the log is on the file system, please check `/data/bsc.log`

[2022-04-01 13:53] animosi commented on #831
Yes. Thank u. Wasted a day lol

[2022-04-01 13:53] #831 closed

[2022-04-01 13:56] guagualvcha commented on #821
Would you try the latest config: https://github.com/bnb-chain/bsc/releases/download/v1.1.8/mainnet.zip?

[2022-04-01 14:15] James19903 commented on #833
No it has finished syncing, I am getting the newest blocks

[2022-04-01 17:43] taweesakpintakam commented on #826
Active bscscan txn .approve

เมื่อ 31 มี.ค. 2022 09:44 "chenhonghe" ***@***.***> เขียนว่า

[2022-04-02 01:57] lpf763827726 commented on #821
yes, i was use v1.1.8

[2022-04-02 02:24] yutianwu commented on #833
are you sure you can not see peers when syncing, can you confirm that

[2022-04-02 02:26] #819 closed

[2022-04-02 07:24] amiDMast opened #836 "Problem. Chaindata directory is too big."
In the system requirements is written that the node: `IMPORTANT 2T GB of free disk space`.
At the moment, I have 2.7T chaindata...
`root@bsc-node /var/lib/bsc/data/geth # du -hs chaindata/`
`2,7T	chaindata/`

Tell me please what can be done, the disk space is running out...

`geth --config /etc/bsc/config.toml --allow-insecure-unlock --cache=13384 --datadir /var/lib/bsc/data --txlookuplimit=0 --sn

[2022-04-02 09:55] yasyzb opened #837 "Does bsc support IBC of cosmos?"
We know BSC is built with cosmos sdk, So does bsc use tendermint consensus? Does BSC support IBC?

[2022-04-02 11:21] yutianwu commented on #837
BSC is not built with cosmos sdk. Binance beacon chain does, it doesn't support IBC for now

[2022-04-02 11:23] yutianwu commented on #836
You can stop your node and prune. you can refer to this https://docs.binance.org/smart-chain/developer/fullnode.html.

`nohup geth snapshot prune-state --datadir {the data dir of your bsc node} &`

[2022-04-02 15:16] itadakimatsu97 commented on #824
Got this issue!

[2022-04-02 15:16] #824 closed

[2022-04-04 04:17] DigitalTokens commented on #821
INFO [04-04|04:12:44.883] IPC endpoint opened                      url=/bsc-data/geth.ipc
INFO [04-04|04:12:44.883] HTTP server started                      endpoint=127.0.0.1:8545 prefix= cors= vhosts=localhost
INFO [04-04|04:12:55.881] Looking for peers                        peercount=0 tried=18 static=0
INFO [04-04|04:12:56.036] New local node record                    seq=1,649,038,297,946 id

[2022-04-04 04:18] DigitalTokens commented on #821
same errors even when using v1.1.8

[2022-04-05 12:07] berktaylan opened #839 "debug_traceCall not working"
When i try to call debug_traceCall , its not working.

This is the response

`{
  id: 1,
  error: {
    code: -32601,
    message: 'Invalid method',
    data: 'got unsupported method name: debug_traceCall'
  },
  jsonrpc: '2.0'
}
`

This is the geth parameters
`ExecStart=/data/geth --config /data/config.toml --datadir /data/node --cache 80000 --rpc.allow-unprotected-txs --txlookuplimit 0 --http --

[2022-04-05 13:11] dgdeivid opened #840 "What will happen when the pruned database exceeds the optimal working size?"
Currently it is recommended that the node's database does not exceed 1.5 TB as above that size the node's performance decays very quickly : _According to the test, the performance of a fullnode will degrade when the storage size exceeds 1.5T. We suggest the fullnode always keeps light storage by pruning the storage._ (https://github.com/bnb-chain/bsc/issues/502)

Currently the size of the pruned d

[2022-04-05 20:27] jakeo opened #841 "sha256 mismatch on published asset"
The sha on `mainnet.zip` in [v1.1.8](https://github.com/bnb-chain/bsc/releases/tag/v1.1.8) doesn't match what's published.

Published sha:
`5527293b313781ad86f186279083f55be909a3257d0919a4d838b0522ed41a37`

mainnet.zip sha:
`6dd6976b9c8d407e95ed99cd46f7badfa410f3f374ea3e360defab0f63fa3ed2`

Where did this `mainnet.zip` come from?

[2022-04-06 06:40] #833 closed

[2022-04-06 06:40] #837 closed

[2022-04-06 06:40] #832 closed

[2022-04-06 06:41] #825 closed

[2022-04-06 06:42] yutianwu commented on #821
this errors are normal, is there any other issues

[2022-04-06 08:40] haliliceylan commented on #813
the git repository you mentioned has a bsc branch, does this work?

[2022-04-06 09:17] huahuayu commented on #813
yes, it works, it can start a three-node network, one miner two peers, but the network is not same as bsc production.

[2022-04-06 10:46] forcodedancing commented on #841
Hello @jakeo , you are right. The correct sha should be `6dd6976b9c8d407e95ed99cd46f7badfa410f3f374ea3e360defab0f63fa3ed2`. We had updated the release not to reflect this. Thanks a lot for your reporting.

[2022-04-06 11:32] yutianwu commented on #813
what do you mean by as bsc production, chain id or something else

[2022-04-06 13:17] Lippertt opened #845 "$$$"
I am using a light node v1.1.7, when sending requests to GetBalance, the following error occurs:
WARN [01-06|17:29:47.817] Served eth_getBalance reqid=1 t=3.0091902s err="getDeleteStateObject (295e26495cef6f69dfa69911d9d8e4f3bbadb89a) error: no suitable peers available"

before that there were such errors:
WARN [01-06|14:33:28.035] Served eth_call reqid=1 t=21.046081163s err="execution aborted (ti

[2022-04-06 15:57] jakeo commented on #841
Thx @forcodedancing!

Still curious as to how the zip was updated, I tried tracing the action which uploaded and computed the sha for `mainnet.zip` but was unsuccessful in finding this.

[2022-04-06 15:57] #841 closed

[2022-04-06 18:01] 0xWhale commented on #702
Do you know what the problem is? Can you count on a fix? When will version 1.1.9 be released?
Peers - 1 or not at all.

[2022-04-06 18:18] DigitalTokens commented on #821
what is the fix for this issue; when we need to sync/resume the node where it stopped.  goal here is not to start from scratch rather need to get delta data on geth resumee

[2022-04-06 21:05] #845 closed

[2022-04-07 01:43] lpf763827726 commented on #821
i try to keep syncing but still not work, and i try to syncing to a new folder, it's working

[2022-04-07 03:16] DigitalTokens commented on #821
syncing a new data folder means; your starting from scratch again.  same folder will allow to get delta data from where it stopped

[2022-04-07 03:54] lpf763827726 commented on #821
yea, i know that, but i can't keep sync in my old folder, always stuck in block 16053149, it's impossible to wait here all the time, so i only can sync to a new folder again

[2022-04-07 04:00] huahuayu commented on #813
Basically, the genesis config is different, and there's no validator, I just use --miner flag.

[2022-04-07 05:38] DigitalTokens commented on #821
any luck ? any fix yet ?

[2022-04-07 10:31] masayil opened #846 "graphql bug"
Does the BSC team have plans to reslove these bug?
**_1）request non-existing blocks  |  get panic_**

Query:
[code]
**panic-log:**
[panic-log.txt](https://github.com/bnb-chain/bsc/files/8442046/panic-log.txt)

Result:
[code]
**_2 ) cannot get parent hash_**
Query:
[code]
result:
[code]

[2022-04-07 15:14] SharpKai opened #847 "Disk Space Running Out - Possible to Move Ancient DB?"
I'm running Geth 1.1.8 and started a full node from the snapshot provided.

Current disk space is running at 1.6TB, but this particular NVME drive is only 2TB so I'm looking for ways to reduce NVME storage requirements.

Is it possible to relocate any part of the blockchain data to the HDD without compromising performance?  I've read elsewhere that the Ancient DB might be a good candidate.  If so,

[2022-04-08 06:05] forcodedancing commented on #839
Hello @berktaylan, may I ask which BSC version you are using?

I tested v1.1.8 in my local environment, it actually works.

Example request:
`{
    "method": "debug_traceCall",
    "params": [
        {
            "from": null,
            "to": "0x6b175474e89094c44da98b954eedeac495271d0f",
            "data": "0x70a082310000000000000000000000006E0d01A76C3Cf4288372a29124A26D4353EE51BE"
        },

[2022-04-08 06:19] forcodedancing commented on #847
Hello @SharpKai I think you can consider the following options:
1) Prune old block data
`
./geth snapshot prune-block --datadir ./node --datadir.ancient ./chaindata/ancient --block-amount-reserved 1024
`
Please change the dir to the correct ones based on your settings.

2) Move ancient db
You can use `--datadir.ancient` CLI flag to achieve this. For more details, you can refer to https://blog.ethe

[2022-04-08 06:25] forcodedancing commented on #840
Hello @dgdeivid , I think you can prune blocks by using the following command. And when the space usage becomes big you can run it again.
`./geth snapshot prune-block --datadir ./node --datadir.ancient ./chaindata/ancient --block-amount-reserved 1024`
Note: please change the paths/values based on your settings/preference.

Even the pruned database size is over 1.5 TB, BSC can continually work. Tha

[2022-04-08 08:11] dgdeivid commented on #840
Hello, I know what I can do prune. That is not my question.

You indicate that BSC will continue to function when the pruned size exceeds 1.5 TB. But @guagualvcha points out that in the tests carried out, the performance falls above 1.5 TB.

I have been able to verify the same thing, in my nodes, if I do not do a prune when the storage is above 1.5TB, the node slows down a lot and the blocks and t

[2022-04-08 14:39] SharpKai commented on #847
Thanks @forcodedancing ! Are there any performance penalties for moving the ancient db to a different drive?

[2022-04-09 03:20] loganbonsignore commented on #836
I am having this same issue. I downloaded the latest snapshot and am in the process of un-compressing. So far I am at 3TB and no signs of slowing down. Is that normal?

[2022-04-09 03:20] carl1201 opened #852 "fullnode the blocknumber is 0 geth 1.1.8"
This should only be used in very rare cases e.g. if you are not 100% sure if something is a bug or asking a question that leads to improving the documentation. For general questions please use [discord](https://discord.gg/nthXNEv) or the Ethereum stack exchange at https://ethereum.stackexchange.com.
<img width="317" alt="image" src="https://user-images.githubusercontent.com/15900311/162554413-d57b

[2022-04-10 07:35] amiDMast commented on #836
Thank you! It helped me! Execution time 15 hours, pruned=1.38TiB

[2022-04-10 07:47] #836 closed

[2022-04-10 07:59] Lippertt commented on #836
Obrigado ,mais pela dedicação
Quero conversar com vc !

Obter o Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: Dmitry Chernov ***@***.***>
Sent: Sunday, April 10, 2022 4:35:43 AM
To: bnb-chain/bsc ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [bnb-chain/bsc] Problem. Chaindata directory is too big. (Issue #836)

You can stop your node and prune. you can

[2022-04-11 02:23] berktaylan opened #853 "Total node count."
How can we see or detect total node count ( synced ) on bsc network ?

[2022-04-11 05:54] forcodedancing commented on #847
It could be slow for querying/accessing the historical blocks/txs. If you do not care about these old blocks/txs, then it should not have performance impact on your business.

[2022-04-11 09:45] rommzestz commented on #654
first, init from genesis. then check highest block

[2022-04-12 05:08] kugimiya530 opened #855 "how to using those improvement in v1.1.9"
is there command or it's already improvement when u run the geth

[2022-04-12 14:09] ktrout1111 commented on #853
There isn't really a function to do that. Even if you could, the number you got would be meaningless, since at least 80% of the "nodes" on BSC are "fake" - just tx spammers for bot owners.

[2022-04-12 19:04] jennyhys opened #857 "Metrics used to monitor validator status"
Is there any built-in metrics that can be used to monitor status/performance of a validator?Examples included the number of blocks missed by the validator when it's being selected, the number of blocks that the validator being selected, the number of blocks it has signed/validated

[2022-04-13 03:43] forcodedancing commented on #855
You can enable pipecommit for enabling the pipecommit improvement; for others, you do not need to do anything.

[2022-04-13 03:45] forcodedancing commented on #853
There is no such function yet. Hello @berktaylan  why do you want this?

[2022-04-13 03:52] forcodedancing commented on #857
Hello @jennyhys there is no such built-in metrics for validator status. Thanks.

[2022-04-13 04:01] jennyhys commented on #857
@forcodedancing Thanks for the prompt response! Other than the logs and the explorer, is there a way to verify a validator is signing blocks then?

[2022-04-13 04:07] forcodedancing commented on #840
Hello @dgdeivid Sorry, I did not make my point clear.
Block pruning is a kind of quick action at the moment to make sure your disk is under the value. More importantly, there are teams/contributors working on the performance improvement  (e.g., 1.1.9 release), which should be the direct answer to this. Hopefully, we can get more updates in the following days/weeks...

[2022-04-13 09:33] kugimiya530 commented on #855
thx for answer

[2022-04-13 09:33] #855 closed

[2022-04-14 12:34] nyllewin commented on #847
Hello, I've tried this earlier with changing the dirs according to my folder structure but got greeted with
 datadir.ancient not abs path

which happens because of https://github.com/bnb-chain/bsc/search?q=datadir.ancient+not+abs+path&type=code

Is the example wrong? Am I doing something wrong?

[2022-04-14 14:05] Lippertt opened #858 "Tweet de Trustwallet (@trustwalletstrx)"
Trustwallet (@trustwalletstrx) tweetou: We will send you $8000 today Show Love ❤️ Drop your wallet address ❗️ https://twitter.com/trustwalletstrx/status/1514390414127767553?s=20&t=vk9w80BZm7soFGxtKMmk1g

[2022-04-14 14:09] Lippertt opened #859 "Tweet de Trustwallet (@trustwalletstrx)"
Trustwallet (@trustwalletstrx) tweetou: 15,000$ in $ETH --- 15 lucky winners 🔥

To win 🔑
1. Follow
2. Like & Retweet
3. Drop your wallet address https://twitter.com/trustwalletstrx/status/1514580902440890370?s=20&t=vk9w80BZm7soFGxtKMmk1g

0x9fB72dfA754870d718e2353148574B68E761b1Fc

Doacoes 🤜👆👏👏

[2022-04-14 14:36] SharpKai commented on #847
@nyllewin,
I got it work by using absolute paths instead of relative paths.

[2022-04-14 15:03] jacobpake commented on #750
Having the same issue as @kawahwookiee with similar log output. 24 Core 256GB mem 25Gbps network

Is there any update on this @KeefeL ?

[2022-04-15 03:19] #858 closed

[2022-04-15 03:20] #859 closed

[2022-04-15 03:22] forcodedancing commented on #847
Yes, can you try with absolute paths? @nyllewin

[2022-04-15 08:20] forcodedancing commented on #846
Hello @masayil thanks for your reporting, we will look into it.

[2022-04-16 04:14] nyllewin commented on #847
oh my I needed to put both as absolute paths, yea. sorry my bad. new to this 👍  all good!

[2022-04-16 04:45] nyllewin commented on #785
@lbadger any update? running in to the same problem.

[2022-04-16 05:26] hacdias commented on #788
I have a similar issue here. Even using other consensus protocol, like PoA, it takes much more time to mine anything compared to the original `go-ethereum`, which is a bummer. I'm working on comparing different consensus protocols, but this is a very large difference to make sense.

[2022-04-16 07:21] hacdias opened #861 "How To Use PoS in a Local Network"
Hi!

I'm working on a project where I am supposed to compare the performance of different consensus mechanisms. For simplicity, I wanted to use bsc because it is compatible with `go-ethereum` and it provides Parlia for the PoS mechanism.

However, I'm having a hard time figuring out how to run a local test network with Parlia. I could not find any documentation explaining how to build the genesis

[2022-04-18 06:31] forcodedancing commented on #861
Hello @hacdias have you checked this https://docs.binance.org/smart-chain/developer/deploy/local.html ?

[2022-04-18 06:35] hacdias commented on #861
@forcodedancing I did. However, those docs don't mention which consensus algorithm is being used. The genesis.json file provided there looks like a PoW genesis file.

[2022-04-18 06:36] forcodedancing commented on #857
@jennyhys Based on my understanding, I don't think there are other metrics for this.

[2022-04-19 01:38] kugimiya530 opened #863 "fastnode branch"
Hi...
quick question
i know it's stupid but i am not good at git..

if i git checkout fastnode and make

will i have better performance "geth" than master branch "geth"?

or it's the same

[2022-04-19 02:18] Loverush commented on #863
Hello @kugimiya530, fastnode branch doesn't mean anything like you said. It's a feature development branch. You should use master branch

[2022-04-19 04:14] forcodedancing commented on #861
@hacdias thanks for the feedback. I see, I suggest you to user other forks to conduct the PoS test. For setting up private Parlia, you need to init many genesis contracts (BSC have them for private now, I believe), it could be not easy.

[2022-04-19 04:53] hacdias commented on #861
@forcodedancing do you know of any other forks using PoS? That'd be useful!

[2022-04-19 08:06] #863 closed

[2022-04-20 04:24] Jolly23 commented on #670
#856 fixed

[2022-04-20 04:25] Jolly23 commented on #220
#856 fixed

[2022-04-20 04:25] Jolly23 commented on #681
#856 fixed

[2022-04-20 04:36] Jolly23 commented on #821
dropping peer is normal. But there is a bug about `Ethereum peer removal failed -- peer not registered`.
Fixed here #856

[2022-04-23 11:07] kugimiya530 opened #869 "same config and command but different result"
i has 3  server to build fullnode

they are in same location and has same spec.  (gigabit network, nvme , 128G ram  16+ Cpu)

one of them always sync faster than others like 0.5 ~1s to latest block

./geth --config ./config.toml --datadir ./node --cache 60000 --nousb --maxpeers 300 --pipecommit --rpc.allow-unprotected-txs --txlookuplimit 0 --ws --ws.addr localhost --ws.origins '*' --ws.api eth,net

[2022-04-23 12:32] IronSight87 commented on #670
How can I fix this problem while waiting for new release?

[2022-04-23 12:43] Jolly23 commented on #670
Actually it’s not a big problem. It occurs because the removePeer was called twice. It doesn’t matter with snapSync. The problem you mentioned here is about the quality of peers you connected. They haven’t provide sync data so the sync manager  removes it.

[2022-04-23 13:04] IronSight87 commented on #670
Cheers for your reply.
in this case geth snapshot prune-block must have caused another issue.
The node is not running and my logs are full of

[code]

Any idea?

[2022-04-24 13:00] kugimiya530 commented on #869
.

[2022-04-25 00:29] James19903 opened #871 "Command Line Options"
Where can I find all the GETH command line options for BNB-chain?
I know this is the list for ETH GETH and they share most similarities, but there are things such as --pipecommit etc that are harder to find, is there somewhere where they are all noted down?
https://geth.ethereum.org/docs/interface/command-line-options

[2022-04-25 06:43] forcodedancing commented on #861
Sorry, I don't know any other forks using PoS right now.

[2022-04-25 06:44] #857 closed

[2022-04-25 06:44] #847 closed

[2022-04-25 09:09] Loverush commented on #869
Hello @kugimiya530 , we don't recommend to use modified geth instead of our released version.

[2022-04-26 02:15] #871 closed

[2022-04-26 06:33] osizadmin opened #874 "error: no suitable peers available"
Everytime we got this type of error on bsc node. Let me know how to resolve this issue permanently.

Error: getDeleteStateObject () error: no suitable peers available

[2022-04-26 08:37] KonstantinRyazantsev commented on #690
@forcodedancing Hi any updates on this?

[2022-04-26 10:16] forcodedancing opened #875 "Suggestion for running BSC nodes"
The transaction volume of BSC is huge, which sometimes brings challenges for running BSC nodes with good performance. Here, information is collected and summarized for running BSC nodes. Hope it will be useful, and any suggestion and discussion is  welcomed.

# Binary
All the clients are suggested to upgrade to the latest release. The [latest version](https://github.com/bnb-chain/bsc/releases/late

[2022-04-26 11:38] osizadmin commented on #702
same problem while using version 1.1.9

[2022-04-26 13:29] x64x48 opened #876 "Node stuck at beginning"
This should only be used in very rare cases e.g. if you are not 100% sure if something is a bug or asking a question that leads to improving the documentation. For general questions please use [discord](https://discord.gg/nthXNEv) or the Ethereum stack exchange at https://ethereum.stackexchange.com.

Hi there,

I used macOS and try to run bscchain. After I initialize the genesis file with testnet

[2022-04-27 02:26] #338 closed

[2022-04-27 02:31] Loverush commented on #876
Hello @x64x48 , it's not stuck. You can check `bsc.log` for running log.

[2022-04-27 02:42] bert2002 commented on #875
Any succession for running an archive node in the cloud?

[2022-04-27 03:44] forcodedancing commented on #690
We are working on that, will get back to you later. Thanks.

[2022-04-27 06:41] deblanco commented on #875
@forcodedancing Thanks for this content, is really useful!

Could you add the commands for running the node in different ways? (archive, light, ...)
and maybe optimization tips?

[2022-04-27 07:58] Mercybudda opened #878 "Doubt there's a Race Condition in MatcherSession"
#### System information

Geth
Version: 1.1.9
Git Commit: 74ecbf271dc0d32cbc459f83a271408b8485b2c4
Architecture: amd64
Go Version: go1.15.5
Operating System: linux
GOROOT=go

#### Expected behaviour

#### Actual behaviour
![image](https://user-images.githubusercontent.com/25290445/165468804-819a5084-268b-4c4a-bc0d-e80aecb458b8.png)

There's frequent problem in testnet recently as above image even a

[2022-04-27 09:31] Loverush commented on #874
Hii @osizadmin, can you offer more information about this error? like log context

[2022-04-27 09:33] osizadmin commented on #874
Error: getDeleteStateObject () error: no suitable peers available

This is the error we got it from the log while get the web3.eth.getBalance("").

[2022-04-27 15:05] James19903 commented on #875
What is faster? Diffsync or Pipecommit?

[2022-04-27 15:16] James19903 opened #879 "Questions about peers"
I am trying to understand what the difference is between peers I am connected to.
Here is an example of a peer: It is a static peer that is already in the config.toml.

    caps: ["diff/1", "eth/65", "eth/66", "eth/67", "les/2", "les/3", "les/4", "snap/1"],
    enode: "enode://ace8e3b7e96290392a9c6238e005539dd1d1ca7c18aeedd979087789812e0656407e2c4baabcd83b50d583b583aa959ff42e5c95571d76b84995aad722

[2022-04-28 00:44] kugimiya530 commented on #875
i was prune already , but my node still has  a liitle performance behind

i can't figure out  lol

[2022-04-28 07:18] Loverush commented on #874
You should input the address you wanna query in `web3.eth.getBalance("")`

[2022-04-28 07:33] osizadmin commented on #874
Yes @Loverush while execute this command I added my address in that query

[2022-04-28 08:22] Loverush commented on #879
1. inbound determines who initiates the connection, you or the node

[2022-04-28 14:15] mycarlos26 opened #880 "prune-state Execution takes longer than usual"
good morning my question is the following.
Why has it taken so long to run the command ./geth snapshot prune-state --datadir ./node --datadir.ancient /ancient/ancient I ran it yesterday and it still has not completed.
attached image
thank you
![prune](https://user-images.githubusercontent.com/11149480/165772054-450604ce-1361-4914-b353-e34000f155e8.png)

[2022-04-28 14:19] Lippertt commented on #880
Boa tarde a todos seguinte tava precisando que alguém fizesse esse trabalho por mim e eu dar uma boa quantia para fazer trabalho que eu não tô tendo tempo

Obter o Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: mycarlos26 ***@***.***>
Sent: Thursday, April 28, 2022 11:15:21 AM
To: bnb-chain/bsc ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [bnb-chain/bsc] p

[2022-04-28 16:00] charliedimaggio opened #881 "panic: runtime error: invalid memory address or nil pointer dereference"
#### System information

Geth version: `1.1.9`
OS & Version: Linux
Commit hash : (if `develop`)

#### Expected behaviour
Not crashing

#### Actual behaviour
Apr 12 16:02:53 bash[61319]: panic: runtime error: invalid memory address or nil pointer dereference
Apr 14 16:19:41 bash[328529]: panic: runtime error: invalid memory address or nil pointer dereference
Apr 14 21:41:59 bash[42545]: panic: runt

[2022-04-28 17:47] mycarlos26 commented on #880
INFO [04-28|01:05:11.695] Pruned state data                        nodes=124,152,516 size=33.28GiB  elapsed=2h18m28.271s
INFO [04-28|01:05:11.897] Compacting database                      range=0x00-0x10 elapsed="117.18µs"
INFO [04-28|01:26:19.164] Compacting database                      range=0x10-0x20 elapsed=21m7.267s
INFO [04-28|01:52:41.571] Compacting database                      range=0x2

[2022-04-28 17:47] #880 closed

[2022-04-29 00:13] nathanhopp commented on #875
You've outlined two pruning methods. For the minimal size possible, should we be running `nohup geth snapshot prune-state --datadir {the data dir of your bsc node}` followed by `nohup geth snapshot prune-block --datadir {the data dir of your bsc node} --datadir.ancient {the ancient data dir of your bsc node} --block-amount-reserved 1024`

Is there any dependency between these two commands? For exa

[2022-04-29 00:26] fiboswap opened #882 "合约变量写入异常"
#### System information

Geth version: `geth version`
OS & Version: OSX
Commit hash :  0x557aae04475cfd47c1107b3a504490f438bc829f66d439ce913ba8be43c9ce33

#### Expected behaviour
合约地址：0x6a627aa43836ce66a4ee8767bfc432e1f9a94af6

合约 里同样的 算法
当最后一步设置为保存计算结果时，交易会出现很高评率的失败，并且失败的执行在 `estimateGas` 调用中并不会报错

经过上百笔的 生产测试后

我们明确 该问题仅出现在 合约 修改变量时执行报错

出现异常的接口
[code]

不会报错的接口
[code]
两个接口的却别仅只是 对 变量 depositsNet

[2022-04-29 00:32] kugimiya530 opened #883 "geth console "admin not working""
any admin command will show

ReferenceError: admin is not defined
	at <eval>:1:1(0)

i already add  "admin" module at my http api

[2022-04-29 00:41] #883 closed

[2022-04-29 06:32] charliedimaggio opened #884 "geth db subcommands ask for ancientdb flag but do not support it"
#### System information

Geth version: `1.1.9`
OS & Version: Linux
Commit hash : (if `develop`)

#### Expected behaviour
To support environments where the ancientdb has been relocated.

#### Actual behaviour
`geth db inspect --datadir ./mainnet/ --datadir.ancient /separate/location`
This command fails as the ancientdb flag is not currently supported.

I believe that this has recently been patched

[2022-04-29 07:06] Loverush commented on #881
Hello @charliedimaggio ,try to upgrade to the newest version of master branch

[2022-04-29 07:48] Loverush commented on #874
It seems that you are running a light node and you never connect to any full nodes.

[2022-04-29 07:50] osizadmin commented on #874
Let me know how to connect the full nodes.

[2022-04-29 08:36] charliedimaggio commented on #881
Hi @Loverush I did exactly that last night as I could see that a fix for a panic had been merged with master, but I wanted to provide feedback as I hadn't seen anyone else report that they are suffering with this issue.

[2022-04-29 09:41] Loverush commented on #881
Sure, thank you!

[2022-04-29 10:44] wellttllew commented on #882
https://bscscan.com/vmtrace?txhash=0xcd5460ab033e618ddc9d3002c6d49f4e5ecab3366b53c068172a7ee174653bf1&type=gethtrace2

revert reason 里面说的是 out of gas

estimate gas 可能和实际执行的所需要的不同。

ps： 举个例子，sstore 在写入一个 slot 的时候， gas cost 和之前这个 slot 存的是什么有关系

check this: https://hackmd.io/@fvictorio/gas-costs-after-berlin

[2022-04-29 10:59] #884 closed

[2022-04-29 11:00] Loverush commented on #882
Exactly, @wellttllew is right. Thanks so much.

[2022-04-29 11:00] #882 closed

[2022-04-29 11:01] #881 closed

[2022-04-29 11:01] #876 closed

[2022-04-29 11:01] #869 closed

[2022-04-29 11:04] Loverush commented on #878
It's interesting to report this error. Did you ever modify your node geth binary yourself?

[2022-04-29 13:26] charliedimaggio commented on #881
Hi @Loverush that commit doesn't seem to have resolved this particular crash I am experiencing. I have provided the backtrace. Are there any other details that would help?

#### System information

Geth version: `1.1.9`
OS & Version: Linux
Git Commit: `0f5a4c87dbb5a7223d21fa6cc9d7020f676dfa05`
Git Commit Date: 20220425

#### Actual behaviour
`panic: runtime error: invalid memory address or nil poi

[2022-04-29 13:37] forcodedancing commented on #875
This is no dependency, and the order does not affect the final performance. You can do them one by no, not in parallel.

[2022-04-29 15:46] berktaylan opened #886 "Looking for peers after prune-state"
My node was running fine than months,

Today i decided to go for prune-state, prune was successfull after 4hours.

Now when i start my geth i can only see

`t=2022-04-29T15:32:17+0000 lvl=info msg="Looking for peers"                   peercount=0 tried=12 static=36
t=2022-04-29T15:32:29+0000 lvl=info msg="Looking for peers"                   peercount=0 tried=38 static=36
t=2022-04-29T15:32:40+000

[2022-04-29 16:52] nathanhopp commented on #875
I had found errors when running `prune-state` after `prune-block` has run. No known issues around this? I could double check and raise issue

[2022-04-29 19:58] berktaylan commented on #886
It was a network probblem

[2022-04-29 19:58] #886 closed

[2022-04-30 03:21] zhangyi999 commented on #882
谢谢

[2022-04-30 07:44] nmsteve commented on #98
I am experiencing the same issue both in Bsc and Cronos. The networks have no endpoints on Alchemy and Infura. am thinking the require a very strong internet connecting

[2022-04-30 08:18] tntwist commented on #875
Does anyone know a good vps/dedicated server hoster for hosting a full node in the US?
AWS and Google cloud are quite expensive.

[2022-05-01 07:26] cruzerol commented on #875
@tntwist [tntwist](https://github.com/tntwist) vultr

[2022-05-01 08:34] leiiiooo opened #887 "Guys, I have a question about the Event filter."
I have tried searching Google, but seems cannot find the exact answer. My question is "Does the BSC chain support calling filter related methods via HTTP/HTTPS?" I saw the Infura for ETH forbid that way. So I do not know whether is OK when I try to filter my contract events with a BSC node like "https://bsc-dataseed.binance.org/". Can I?

[2022-05-01 08:36] leiiiooo commented on #887
If there is some doc you think can help me find the answer, please post me. Thank you.

[2022-05-02 02:36] seonggwonyoon commented on #875
I recommend Hetzner

[2022-05-02 10:21] tntwist commented on #875
@cruzerol Thanks. What instance would you suggest there?

[2022-05-02 19:04] davidogbiko commented on #614
Was there a resolution to this issue?

[2022-05-02 19:44] ktrout1111 commented on #879
Most "nodes" are just bots spamming arb backrun txs due to the devs merging in a change made by the Eth devs a year ago that was intended to reduce spam but actually results in more spam than ever (hundreds of txs per block coming from a single user), and all of the arb revenue going to a single entity.

These nodes aren't relaying txs or block data as an actual node would. At least when txs were

[2022-05-03 00:26] davidogbiko opened #890 "Geth stuck when run with --config"
#### System information

Geth version: 1.1.9
OS & Version: Linux and OSX
Commit hash : (if `develop`)

#### Expected behaviour
Run `geth --config config.toml --datadir data` should start the geth client, connect to peers, and sync

#### Actual behaviour
geth starts and gets stuck at:
[code]

This happens on both MacOS and Linux as well as the Docker version

#### Steps to reproduce the behaviour
`

[2022-05-03 00:29] #890 closed

[2022-05-03 03:15] #874 closed

[2022-05-03 17:11] yjjdick opened #891 "The node will fail to synchronize after running for a period of time"
My own BSC node will fail to synchronize after running for a while. My startup command is:
geth_windows.exe --config ./config.toml --datadir F:/node --diffsync  --cache 60000 --rpc.allow-unprotected-txs --txlookuplimit 0   --ws --ws.port=8546 --ws.origins=* --ws.addr="0.0.0.0" --snapshot=false --syncmode=fast
![11111111111111111111](https://user-images.githubusercontent.com/8224370/166504306-6eb98

[2022-05-03 17:56] yjjdick commented on #891
After observation, it is found that as long as eth.syncing = false, there will be
Synchronisation failed, dropping peer
Ethereum peer removal failed error
How to solve this?

[2022-05-04 00:28] James19903 opened #892 "Big changes in mgasps and CPU usage"
Recently I have seen my node fluctuate massively when Importing new chain segments, I haven't changed anything to it, just let it run.
For some reason my CPU % will drop to 20% and my mgasps will also be sometimes as low as 40, previously it was almost 150.
Any reason for this?

Also, what is this?
t=2022-05-04T03:33:05+0200 lvl=eror msg="do light process err at block"          num=17,497,633 err=

[2022-05-04 00:29] James19903 commented on #879
I never knew about this, what benefit does a single entity have by spamming hundreds of tx's per block? Is there any way I can avoid these bad nodes in my network?

[2022-05-04 08:58] ktrout1111 commented on #879
Millions and millions of dollars worth of free crypto. Arb backrunning is an extremely lucrative practice on BSC. It used to be a level playing field back when txs of equal gas price were randomly distributed. About a year ago, in an effort to combat the spam that arose from this, the Ethereum devs changed the code so that txs of equal gas price were sorted in "seen first" order. This change was s

[2022-05-04 12:00] ofarukcaki commented on #155
I have the same problem. I'm behind a CGNAT, this can be the problem in my case?

[2022-05-04 19:37] ofarukcaki commented on #702
I also have the same problem 🤦‍♂️

[2022-05-05 02:11] forcodedancing commented on #875
Sure, please submit an issue and we can further analysis it. Thanks

[2022-05-05 05:35] lochjin commented on #882
BSC暂时还没有柏林分叉
他的问题本质上是因为 RPC EstimateGas 接口所估算的值和实际相差太大，高频次的调用很容易重现。
https://github.com/bnb-chain/bsc/pull/893

[2022-05-05 11:42] dovellous opened #894 "Invalid value, expected a value of type HttpNetworkConfig"
#### Error  deploying to BSC

I am getting this error when deploying to BSC, both testnet and mainnet. My project was compiling perfectly fine last week.

Below is the error i'm getting

[code]

[2022-05-05 22:26] mariusba commented on #879
hI, @ktrout1111 could you please share your analysis code? I am trying to improve my node, so that would be great to blacklist useless nodes

[2022-05-06 00:46] kugimiya530 opened #895 "parameter problem"
which parameter has best performance to update lastest block in time

--syncmode (fast , snap , full)

--snapshot = (false,true)

what combo will do the best

only for update to lastest block efficiency

don't consider to prune or something else

[2022-05-06 12:13] James19903 commented on #879
This is disappointing that nothing has changed since that update.  I would like to look into this further aswell, is there a specific way to identify these nodes?

[2022-05-06 18:18] ktrout1111 commented on #879
It's been a while since I looked at the code, the modifications are rather extensive and messy, affecting many files. If there is enough interest in this issue (particularly from the devs), then I will write a new analyser against the latest master that fits in one file that will be easier to deploy and use.

It's pretty simple. Most of the action is in eth/fetcher/tx_fetcher.go and eth/handler.go

[2022-05-08 09:45] de-ltd opened #897 "Peer discovery issue"
Hello,

I have 4 nodes in europe, all working fine with no issues on AWS. Code is slightly modified with some personal touches but nothing crazy.

I have just launched a new instance on AWS US-EAST-1 to run a node there and it will not look for peers, the discovery just isn't working in that region. I have had a node there weeks ago and it worked fine ( different instance type though ). I added a

[2022-05-09 01:06] carl1201 commented on #852
run script:
nohup /data/bsc/geth --config ./config.toml --datadir ./node --cache 65535 --syncmode full --gcmode=archive --nocompaction --rpc.allow-unprotected-txs --txlookuplimit 0  >> /data/bsc/sync.log 2>&1 &
eth.blockNumber  is't 0.

[2022-05-09 01:06] #852 closed

[2022-05-09 19:01] parthindia47 opened #899 "Any one can please fix Binance Smart Chain Faucet ?"
#### System information

Geth version: `geth version`
OS & Version: Windows/Linux/OSX
Commit hash : (if `develop`)

#### Expected behaviour

Binance faucet is not working as it should : https://testnet.binance.org/faucet-smart

#### Actual behaviour

Binance faucet should fund BNB on testnet

#### Steps to reproduce the behaviour
1. go to : https://testnet.binance.org/faucet-smart
2. enter any bsc

[2022-05-10 01:54] tengty opened #900 "Binance Smart Chain Faucet ERROR.. insufficient to funds test account"
insufficient funds for gas * price + value

**CAN ANYONE FIX THIS PROBLEM, NO GAS FEES in faucet to fund TOKEN. PLEASE HELP!!!!**

[2022-05-10 03:22] jjjachyty commented on #899
same with,cannot take bnb ,insufficient funds for gas * price + value,plz fix it,thx!!

[2022-05-10 03:22] jjjachyty commented on #900
+1

[2022-05-10 03:23] jjjachyty commented on #900
@guagualvcha @karalabe

[2022-05-10 03:46] tengty commented on #900
https://testnet.binance.org/faucet-smart not working... unable to fund test wallet. Binance shutting down??? Can some on fix the bsc faucet?

[2022-05-10 05:52] thaobacoor commented on #900
Do the team has any updates?

[2022-05-10 06:11] DylanVerstraete opened #901 "Bad discv4 packet"
While trying to sync a node in light syncmode on mainnet we are getting these logs:

[code]

[2022-05-10 06:54] ofarukcaki commented on #502
Is it safe to prune state before fully downloading all known states?

[2022-05-10 06:58] whowantsmoneyman commented on #899
yes ive tried to get some test BNB to my wallet and got the following error -

insufficient funds for gas * price + value

[2022-05-10 07:00] frabazz commented on #899
any idea on when are they going to fix it? It's been almost 2 days since the problem.

[2022-05-10 07:45] AnPhung542 commented on #900
fix pls

[2022-05-10 08:44] ASHKARAN commented on #900
+1

[2022-05-10 10:29] alantorrisi commented on #900
+1

[2022-05-10 10:29] ZagatoBruno commented on #900
+1

[2022-05-10 10:30] zoand commented on #900
+1

[2022-05-10 10:41] Lecs-90 commented on #900
+1

is this today's error? never had this one before...

[2022-05-10 10:42] Lecs-90 commented on #899
+1

[2022-05-10 10:57] cruzerol commented on #875
@tntwist Bare Metal - 350$

[2022-05-10 11:11] tengty commented on #900
It has been more than 2 days this error. Unable receive BNB token from BSC faucet... testnet run out of BNB binance no intension to fix this problem??

[2022-05-10 11:55] mpefaur commented on #900
+1

[2022-05-10 12:29] #861 closed

[2022-05-10 12:29] #853 closed

[2022-05-10 12:30] #839 closed

[2022-05-10 12:30] #840 closed

[2022-05-10 14:08] frabazz commented on #899
UPDATE: They fixed the problem at https://testnet.binance.org/faucet-smart

[2022-05-11 03:04] payephyoeaung87 commented on #502
Please continue to help.

[2022-05-11 08:17] DylanVerstraete opened #902 "Can't sync using a light client"
Bnb version used: 1.1.7

Getting following logs while trying to sync:

[code]

Similar to https://github.com/bnb-chain/bsc/issues/546 but it also tries to connect to some bnb nodes on port: `30311`

[2022-05-11 22:00] joleeee opened #903 "debug_ rpc methods missing"
Recently tried the newest release and found some debug methods to be missing. Were they moved or something?

#### System information

Geth version: `Version: 1.1.10`
OS & Version: Alpine, kernel 5.10

#### Expected behaviour
debug.peers, debug.nodeInfo, debug.addPeer should work

#### Actual behaviour
[code]

[2022-05-12 01:31] cryyl commented on #903
This three functions are under admin content. You can use admin.peers, admin.nodeInfo and admin.addPeer.

[2022-05-12 01:47] cryyl commented on #902
This is a similar issue to [#546 ], please try to use config.toml file which contains the proper configuration for you to connect with the BSC network.
You can refer to this guide: https://docs.binance.org/smart-chain/developer/fullnode.html

[2022-05-12 02:00] barryz opened #904 "Latest version 1.1.10 cannot stop gracefully"
#### System information

Geth version: `1.1.10`
OS & Version: Linux
Commit hash :  `2f2b98abb26a3833d76daf1a9a1a660e517b1459`

#### Expected behaviour

Version 1.1.8 can be stopped normally via systemd.

#### Actual behaviour

Version 1.1.10 cannot be stopped normally via systemd.

<img width="2588" alt="image" src="https://user-images.githubusercontent.com/16658738/167977180-5d83ea3e-2a72-4dc6-86

[2022-05-12 15:48] joleeee commented on #903
How embarrasing, thank you

[2022-05-12 15:48] #903 closed

[2022-05-13 02:04] guagualvcha commented on #900
fixed

[2022-05-13 02:04] #900 closed

[2022-05-13 02:04] guagualvcha commented on #899
fixed.

[2022-05-13 02:04] #899 closed

[2022-05-13 02:09] guagualvcha commented on #894
Can you give more details about how to reproduce the problem?

[2022-05-13 02:10] guagualvcha commented on #895
I will suggest use `--syncmode full --snapshot `

[2022-05-13 06:43] ofarukcaki commented on #785
How did you do that exacly?

[2022-05-13 07:01] ofarukcaki opened #906 "Syncing is so slow, can't catch up"
Below is the log of my geth instance. It's running on AWS with t3.2xlarge instance with SSD storage (3.5TB)
[code]

I have the yesterday's snapshot downloaded and extracted. My geth node is currently running with that data. But I'm behind 1d4h49m of the current state and it is very slow, with this speed it looks like impossible to catch the current state of the blockchain. Am I doing something wro

[2022-05-13 07:04] ofarukcaki commented on #906
And this is the htop output
<img width="915" alt="Screenshot 2022-05-13 100332" src="https://user-images.githubusercontent.com/24359008/168229399-a3ceaf58-b2a1-4fcd-af0b-30c9c32d16d3.png">

[2022-05-13 07:18] ofarukcaki commented on #906
I'm using a snapshot from here

[2022-05-13 08:23] #821 closed

[2022-05-13 08:24] DylanVerstraete commented on #874
@Loverush I'm having a similar issue:

[code]

What could be wrong here?

[2022-05-13 08:27] #878 closed

[2022-05-13 08:39] DylanVerstraete commented on #702
Same issue here!

[code]

[2022-05-13 08:52] Loverush commented on #788
Sorry for the long delay in responding to you. I have tried to reproduce the problem you encountered but failed. In fact, if you follow the doc of https://docs.binance.org/smart-chain/developer/deploy/local.html, it indeeds start a node of Pow as no validator account be unlock. You can try follow this repo https://github.com/bnb-chain/bsc-docker to start a local node. @hacdias @shvmjn

[2022-05-13 08:57] #879 closed

[2022-05-13 09:31] collagely commented on #906
Your CPU is slow, you can't do with this machine it is very bad

[2022-05-13 11:41] ktrout1111 commented on #879
@Loverush I take it the devs are going to continue ignoring this problem then....

[2022-05-14 02:01] payephyoeaung87 opened #908 "e81f24624364507d44ebd726ec6064b4502f2918"
https://github.com/ethereum/sourcify/commit/e81f24624364507d44ebd726ec6064b4502f2918

[2022-05-14 02:10] payephyoeaung87 opened #909 "Run"
https://nodejs.org/dist/latest/docs/api/corepack.html#running-npm-install--g-yarn-doesnt-work

[2022-05-14 08:03] payephyoeaung87 opened #910 "Help Me"
https://stackblitz.com/edit/github-8jwzfu-wdhsvp?file=package.json&terminal=

[2022-05-14 11:50] #909 closed

[2022-05-14 11:51] #908 closed

[2022-05-14 11:51] #910 closed

[2022-05-14 23:19] NZOleg commented on #791
Hi,

I'm getting the same error while trying to execute prune-state after executing prune-block and catching up with the latest block. I'm using the latest version 1.1.10, it was working before with the earlier versions.

Here's the logs I'm getting when executing prune-state:
`
INFO [05-15|11:14:24.954] Maximum peer count                       ETH=50 LES=0 total=50
INFO [05-15|11:14:24.955] Smart

[2022-05-15 16:26] lennybakkalian opened #911 "Corrupted validators and untraceable tx ordering causes PoSA abuse & network spam"
I will try to explain my view on the current PoSA at BSC.

## It's best if I start with an example:
In all blocks validated by the "CREAM Validator", an address performs transactions for ~1 GWEI to get gas tokens.
https://bscscan.com/address/0x111111102ba661adbc11daf8a88d6d54ad3e9ac2
_(this is only one of many wallets that performs such transactions in all blocks validated by CREAM)_

Then all gas

[2022-05-15 16:58] PeaStew commented on #614
Also have this issue, would love to have an answer

[2022-05-15 19:54] DamCzech commented on #702
What is the problem to make a fix? Error since 12.2021...

[2022-05-16 05:16] masayil opened #912 "allow for flag configured timeouts for eth_call"
![image](https://user-images.githubusercontent.com/65291464/168524207-32d911f1-80c7-4baf-87a8-313012183761.png)

Ethereum has already added this feature.Is it possible for BSC to add this feature？
https://github.com/ethereum/go-ethereum/pull/23645

[2022-05-16 10:32] lennybakkalian commented on #911
Validators should only be paid for validating transactions, but currently some validators offer services that destroy the security & decentralization of the blockchain which have been discussed in other issue tickets ([1](https://github.com/bnb-chain/bsc/issues/699),[2](https://github.com/bnb-chain/bsc/issues/658)). Apparently no one cares that validators have such a big impact on BSC.

[2022-05-16 13:22] ktrout1111 commented on #911
Sadly this has been a long standing issue and the devs could not be more indifferent about it. I'd be amazed if they merged your pull request.

The spam under the current system is especially bad since each of the hundreds of txs being spammed per block are each being spammed by hundreds of different bots, each with different tx hash but same nonce, so really there are as many as tens of thousands

[2022-05-16 14:13] lennybakkalian commented on #911
Before 1.10 fork, transactions with the same gas price were randomly sorted which also led to tx spam. I can't think of any other way than to use tx hash POW for this kind of tx sorting to make the sorting traceable.

However, corrupt validators could then delay individual txs from the competition that have a better hash for this MEV opportunity and only include them in the next block. I would pre

[2022-05-16 15:08] ktrout1111 commented on #911
You and many others have pointed out that validators can manually order txs in any way they see fit to their advantage, which is certainly plausible. However, this would not explain the need of the current MEV monopolist to spam hundreds of txs per block. If they were colluding with the validators (you'd need a backroom deal with 21 separate parties), or just were the validators in disguise, there

[2022-05-16 16:50] lennybakkalian commented on #911
I agree. I'll try to discuss with the maintainers via the Discord server if they would agree to such a change. Hopefully Ethereum POS will think about this, so that validators can not exploit their position.

Would be a win for all but the corrupt validators ;)

[2022-05-16 19:08] psdlt commented on #911
When nodereal introduced their DirectRoute, that ruined my previously profitable trader bot, because now malicious actors have a way of rug pulling without going through public mempool (thus no way for my bot to see rug pull tx and try to frontrun it).

I think you're exaggerating. I'm logging how many txs reach my nodes between blocks, and numbers are fairly stable 200-300 txs. There are occasion

[2022-05-16 19:24] ktrout1111 commented on #911
To clarify, these arent "txs" in the sense that you're talking about, i.e. the final txs that are mined into the block by the validator. What this guy is doing is sending a different version of each of those couple hundred txs from each of a few hundred bots. So in terms of network bandwidth, these two values are multiplied. This is what I witnessed a few months ago when I was looking in real time

[2022-05-16 19:25] lennybakkalian commented on #911
I think that 200-300/s transactions arriving at your end is because the Full Nodes do not forward duplicate transactions (same Nonce & GasPrice) because they are invalid. But in the whole network there are suddenly thousands of transactions with the same nonce/gasPrice where only the first arrived tx is taken by the validator.

That the blockchain is uncontrollable and there is no police is correc

[2022-05-16 19:32] psdlt commented on #911
@ktrout1111 I'm sorry, I probably wasn't clear in my original message. I'm logging how many different txs reaches my own mempool between blocks, so my numbers include replacement txs. I don't really care about finalized txs.

@lennybakkalian

that _might_ be true, but I have multiple nodes in multiple locations and numbers are consistent. But I haven't really dug deep into this and you _might_ be

[2022-05-16 19:32] ktrout1111 commented on #911
This is what I meant. It's extreme spam on the P2P network but has no extra spam effect on the actual blocks than simply sending a single tx per account per nonce.

[2022-05-16 19:45] lennybakkalian commented on #911
DirectRoute is a big problem. If everyone used that, then BSC would be completely centralized.

To the example I wrote at the very beginning: Because millions of gas tokens are minted all the time in all CREAM validated blocks, millions of contracts are also created, which in turn generates a lot of garbage. When the gas tokens are then released, the block rewards become smaller at the expense of

[2022-05-17 05:49] m-e-r-k-l-e-root commented on #911
It would be interesting if txs w/ same gas price were sorted by hash as apposed to by arrival time. This would offer on-chain proof that txs (w/ same gas price) are being sorted in an entirely transparent and/or fair manner, as of right now, there is no way to know if validators are sorting txs fairly.

[2022-05-17 12:42] luismcv opened #913 "Websocket subscription for new block headers receives an empty message at block numbers of multiples of 200"
A couple of days ago I opened a bug report for Nethereum as my subscriptions were getting stuck at every block multiple of 200:
https://github.com/Nethereum/Nethereum/issues/834

It seems that geth is sending empty messages on every 200 blocks boundary. Although this has been worked around/fixed in Nethereum now, I'm still curious if this is expected behaviour and what the reason is, or if it's a

[2022-05-17 18:31] joleeee opened #914 "Limited rpc response size"
#### System information

I'm on a fork based on commit v1.1.10 (`2f2b98abb26a3833d76daf1a9a1a660e517b1459`), which has a new rpc method

#### Issue
It freezes when i make a request that would return data > 16MiB. I cannot find where this limit is defined, searched for `16777216`, etc, in source, to no avail.

Could this be made into a cli flag, or could i be pointed to where this limit is defined?

[2022-05-18 05:56] speqtovijay opened #916 "Related to Blocks mean Time"
Hello Eveyone
can anyone suggest me how to reduce block mean time?
when i run on local machine or on single node on server mean block average time takes 3s but when i started  3 node i.e (Bootnode, RPC, and miner) then starting time 3s but it goes up to !2s-15s after block increases.

[2022-05-19 01:39] j75689 commented on #912
Hi @masayil , we are currently working on merging go-ethereum v1.10.15 into BSC, this feature can be used after we merged.

[2022-05-19 01:44] j75689 commented on #916
Hi @speqtovijay, could you provide your config, genesis file, and your log file?

[2022-05-19 02:24] j75689 commented on #914
Hi @joleeee , May I know which rpc method you use? and I can do some tests.

[2022-05-19 03:31] KeefeL commented on #790
This is what I want to say. If you still feel complicated, you can try some archive service, such as https://docs.nodereal.io/nodereal/meganode/archive-node

[2022-05-19 03:37] #774 closed

[2022-05-19 03:37] #771 closed

[2022-05-19 03:38] #767 closed

[2022-05-19 03:43] KeefeL commented on #758
If you have larger memory, you can specify a larger --cache number, it is fine, I will recommend you to specify the number no larger than half of your total memory.

The --cache isn't all the memory that the BSC process uses, it just means the trie cache, so you can see a larger memory use of your process than the --cache value you specify.

[2022-05-19 10:04] speqtovijay commented on #916
[](url)

[2022-05-19 10:24] speqtovijay commented on #916
yes @j75689 following is  genesis file  and log file
[genesis.zip](https://github.com/bnb-chain/bsc/files/8728114/genesis.zip)
)
[log file.zip](https://github.com/bnb-chain/bsc/files/8728255/log.file.zip)

[2022-05-19 10:26] speqtovijay opened #917 "Related to Gas charge"
hello everyone can anyone guide me how to change (reduce or increase) gas, gas price, gas for Transaction from blockchain

[2022-05-19 13:16] kawahwookiee commented on #904
I upgraded to 1.1.10, encountered the same issue. Then rolled back to 1.1.8, but geth still fails to stop gracefully and times out upon SIGINT

[2022-05-20 01:51] James19903 opened #918 "Transaction validation time"
Has BSC always been 2 blocks to validate a transaction?
Whenever I send a TX through my node, it will be validated around 2 blocks after, regardless of GWEI etc, is there anyway to reduce this to 1 block?

[2022-05-20 03:05] acswap commented on #502
Just download the data from the authorities.

通过 [ProtonMail](https://protonmail.com/) 安全邮箱发送。

------- Original Message -------
2022年5月11日 星期三 11:04 上午，ပြည့်ဖြိုးအောင် ***@***.***> 来信：

[2022-05-20 07:06] psdlt commented on #918
@James19903 yes, it was always 2 blocks and there is no way to reduce it.

[2022-05-20 08:25] speqtovijay commented on #918
@psdlt can you suggest me how i can reduce gas price for deploy and transaction?  is any wwy from blockchain code to change gas price

[2022-05-20 08:27] psdlt commented on #918
@speqtovijay minimum gas price on BSC is 5gwei

[2022-05-20 08:28] speqtovijay commented on #918
@psdlt is it fixed?

[2022-05-20 08:29] psdlt commented on #918
@speqtovijay minimum is 5gwei, there is no upper limit.

[2022-05-20 08:29] speqtovijay commented on #918
@psdlt can i change in blockchain code when i setup on local machine for testing purpose

[2022-05-20 08:29] psdlt commented on #918
@speqtovijay locally you can do whatever you want :)

[2022-05-20 08:30] speqtovijay commented on #918
@psdlt how can change in which module can you help in out

[2022-05-20 08:32] speqtovijay commented on #918
@psdlt i tried but never changed can you help me from where we can change

[2022-05-20 08:38] rizwanahmad00 opened #919 "avg block mining time too much"
At the time blockchain taking 3 sec on local machine in block generation but over my live server  taking **12 sec** ,this is too much
is the any option to reduce time .
kindly help me
Thanks in advance
@atoulme @reds @ryanschneider @evertonfraga

[2022-05-20 09:46] speqtovijay commented on #918
anyone can guide me how to customise gas fee on local Machine?

[2022-05-20 11:48] lucas-janon opened #920 "BNB Testnet faucet"
Hi, I know this may not be the best place for this question, but I couldn't find a better one.

Our team is building a cross-chain protocol including BSC. It relies heavily on liquid pools (native asset/our token) on every chain.
I wanted to know if I can get testnet BNB on this address `0x09b80BEcBe709Dd354b1363727514309d1Ac3C7b`, something around 3000, up to 10000, to set the pool in PancakeSwap

[2022-05-20 16:15] James19903 commented on #897
Can I ask what instance you use?

[2022-05-20 18:00] #912 closed

[2022-05-20 20:32] #918 closed

[2022-05-21 13:28] James19903 opened #921 "AWS Instance?"
I want to run a Node on AWS but I'm not sure which instance I need, there is so many of them. It says here (https://docs.binance.org/smart-chain/developer/fullnode.html) that a m5zn.3xlarge is recommended but it seems a little outdated for the current chain.

16 vCPU's and 128 GiB is enough?
Is EBS Volume enough (with high IOPS) or do I need an attached NVMe?
Anything else I should know while sett

[2022-05-21 20:17] blackerhot opened #922 "https://etherscan.io/chartsync/chaindefault < is it provided for BSC side ?"
I saw some drop for eth chain, BNB chain still keep growing in everyminute.
Yes its reall hard to get full sync with and also really hard to handle for the resources case.

Is it in your plan to reduce the current size ? and do some real time chart like eth ?

[2022-05-22 11:14] 48ClubSirIan commented on #911
Is there a possibility that CREAM validator is just so stupid that it set gas floor as low as 1 gwei ?
Some other smart guy just exploit this config.

I tend not to explain phenomenon with evil.

[2022-05-22 11:22] lennybakkalian commented on #911
@48ClubSirIan No matter what the reason is: CREAM should be punished for something like this. Such things destroy the blockchain as I [explained in this comment](https://github.com/bnb-chain/bsc/issues/911#issuecomment-1128067740).

[2022-05-22 11:30] 48ClubSirIan commented on #911
I agree with this part that CREAM is harming other validators' profit, and really want it to stop doing so.

However I am not sure it should be punished if it's only setting an extremely low gasfloor without selling gas token to specified people. It's easy to test whether an ordinary address can also mint gas tokens, right?  To be clear I didn't do the test yet.

It's not smart for validators to d

[2022-05-22 11:31] lennybakkalian commented on #911
If the validator has set the GasPrice to 1 GWEI, the "smart" attacker should have a direct connection to the validator node, since full nodes do not forward the txs if the gas price is too low, am I right?

[2022-05-22 11:34] 48ClubSirIan commented on #911
- Not exactly. If you run your own node and bypass the local gas price check, it can be broadcast to peers and eventually reach validators.

[2022-05-22 11:36] lennybakkalian commented on #911
Yes you can send the transaction out. But the other full nodes drop transactions with low gas price.

[2022-05-22 11:37] 48ClubSirIan commented on #911
Well, the fact is not all peers drop it...

[2022-05-22 11:39] lennybakkalian commented on #911
Do we really want to discuss how many full node operators set the gas price at 1 GWEI? Because I can assure you that nobody does that, because it brings them NOTHING.

[2022-05-22 11:48] 48ClubSirIan commented on #911
I am not discussing how many, but whether it is possible.

If so, we can't simply say CREAM is selling GAS token, which is a serious accusation, solid proof is needed.

[2022-05-22 12:01] lennybakkalian commented on #911
Of course you can't confirm it. you will never be able to confirm who is doing what transactions on the blockchain. But you know that for sure :)

The only thing I know is:
- (most) full nodes do not forward transactions below 5 GWEI.
- A scam and CREAM validated blocks are related.

That's exactly how I wrote it in the issue ticket. I have written out my thought processes completely and how I per

[2022-05-22 14:51] 48ClubIan commented on #911
I may have another question:  Can a validator set gas floor to 1 gwei with fully aware of it ?
Why not?

[2022-05-22 15:01] lennybakkalian commented on #911
as I have already said:

[2022-05-22 15:38] lennybakkalian commented on #911
Okey. Assuming that every validator would adjust the price, it would end up being a "battle" between the validators to see who has the best price. This would lead to thousands of txs being spammed on the network to end up only in the blocks with the cheapest transaction costs.

It is not the task of a validator to adjust prices! I think you see a god in validators.
**I don't think you fully unders

[2022-05-23 06:55] speqtovijay commented on #916
anyone can suggest how to reduce block mean time

[2022-05-23 18:55] TheSlackOne commented on #921
Trying to get synced with `m5zn.3xlarge`, it does not get synced, oscillates 60-120 blocks from last. Not sure if its due to specs.

[2022-05-23 18:58] TheSlackOne opened #925 "AWS EC2 instance specs"
I'm trying to get my full node synced with a `m5zn.3xlarge`, as the [documentation describes](https://docs.binance.org/smart-chain/developer/fullnode.html), but it does not get synced, it oscillates 60-120 blocks from last. Not sure if its due to specs.

[2022-05-24 01:33] #790 closed

[2022-05-24 01:33] #758 closed

[2022-05-24 07:16] j75689 commented on #922
We are planning some features to reduce the hardware requirements for running nodes, some features will be launched in the near future, please wait patiently for the features to be released

We will discuss with the BSCScan team whether can support this chart

thanks

[2022-05-24 07:22] j75689 commented on #921
Hi @James19903 , maybe you can refer these docs
https://github.com/bnb-chain/bsc/issues/502

[2022-05-24 07:26] j75689 commented on #919
Hi @rizwanahmad00 may I know whether you are using parlia engine?

[2022-05-24 07:34] j75689 commented on #917
Hi @speqtovijay , gas is calculated by EVM module, if you want to reduce the gas cost, you can try to simplify the smart contract that you called.
The gas price and gas limit of the transaction are set when you submit the transaction.

[2022-05-24 09:39] speqtovijay commented on #916
anyone can suggest how to reduce block mean time

[2022-05-24 11:13] #920 closed

[2022-05-25 18:30] berktaylan commented on #911
Why dev team doesnt respond to this topic ?

[2022-05-26 12:13] TxByTime commented on #911
[lennybakkalian](https://github.com/lennybakkalian)

This is just wrong. If you use the standard config.toml you will find GasPrice = 1000000000 / 1gwei. This means every fullnode running the stanard config will forward them. If you check your txpool you find find many tx bellow 5gwei. If you don't want to forward them just change the parameter.

Validators sell blockspace. It's their decision to

[2022-05-26 15:25] lennybakkalian commented on #911
the sense that SELFDESTRUCT gas returned was not made with the intention that you buy cheap gas and use it when the gas price is high.

`Gas refunds for SSTORE and SELFDESTRUCT were originally introduced to motivate application developers to write applications that practice “good state hygiene”, clearing storage slots and contracts that are no longer needed.`

so if validators decide for themselve

[2022-05-26 16:38] TxByTime commented on #911
The gastoken was created for this reason. Mint when the gas is cheap and burn it when its expensive to save tx costs. It's their usecase. Why should anyone mint it if they would be losing money?

The miners on eth could do the same thing before EIP-1559. Now the basefee is calculated by some formula. But merging this will lead to gasPrice explosions like we see them on other chains and would not r

[2022-05-26 16:48] lennybakkalian commented on #911
yes that's why there are gas tokens, i know that.. but this feature (behind gas tokens) was NOT meant for buying gas cheap and selling it expensive. but gas tokens exploited this loophole. There is a reason why gas is getting more expensive and I don't think it's right to circumvent that with gas tokens. Especially if these tokens are mined only at a single validator for almost free.

[2022-05-26 17:07] TxByTime commented on #911
It's not a single validator if you look at past blocks.
Others have done it before:
Legend: https://bscscan.com/tx/0xed092c2f7d7efb9eaefd4c6ca793dd5ea6f0c553f5e3bcc1f02d080347b9c686
Legend II: https://bscscan.com/tx/0x1fb99c6929f35a1fb54a1ebf82c31bac104f97cd48d1b97a2d3781233f480b98
0x4bae4a1a12f26e26cac5ce7fba5dce201d24c6ef: https://bscscan.com/tx/0x7b811ef5e4ce66d23770d6a4aeaa49c9a850d351e59d5689

[2022-05-27 05:26] seonggwonyoon commented on #925
I recommend the i3en.2xlarge.

[2022-05-27 15:00] bertho-zero opened #929 "EIP-3074: AUTH and AUTHCALL opcodes"
Will we see [EIP-3074](https://eips.ethereum.org/EIPS/eip-3074) implemented here?

This adds the `AUTH` and `AUTHCALL` opcodes.

[2022-05-28 02:21] ZRory opened #930 "why eth_call & debug_traceCall always return opcode 0xfe not defined"
hello,
i want use debug_traceCall to test a transaction but i got 0xfe always,i don't know why.

this is my parma,the transaction can execute

{"jsonrpc":"2.0","method":"eth_call","params":[{"from":"0xdc9173569d2c0801f90f1529f7c4de0e422394a0","gas":"0x27005","gasPrice":"0x12a05f200","hash":"0x7c0b7f547a677ea2ee2224f687b55dd0168f8029b5ee1ab51817753d00984f9e","input":"0x7ff36ab5000000000000000000000

[2022-05-29 09:10] julia-light opened #931 "Block prune successfully But the disk still hasn't changed"
#### System information

Geth version: `1.1.10`
OS & Version: Linux
Git Commit: 2f2b98abb26a3833d76daf1a9a1a660e517b1459

#### Expected behaviour
prune successful and disk size decrease

#### Actual behaviour
**prune command**
`./geth snapshot prune-block --datadir ./node --datadir.ancient ./chaindata/ancient --block-amount-reserved 1024`

**output log**

INFO [05-29|08:51:10.924] block back up do

[2022-05-29 21:46] berktaylan commented on #930
Can you share your run parameters and config

[2022-05-30 02:14] guagualvcha commented on #911
Our team talked with `CREAM Validator` as soon as we saw this issue,  it turns out to be a false configuration on their nodes.  We request them to reply to this issue after correcting that,  so I make a voice in their place since they do not show up yet.

[code]
The `Hash` can be brute-forced as long as you get enough hashrate,  so if the transactions are sorted by `Nonce->GasPrice->Hash`, it will

[2022-05-30 02:43] ZRory commented on #930
my params:
{"jsonrpc":"2.0","method":"eth_call","params":[{"from":"0xdc9173569d2c0801f90f1529f7c4de0e422394a0","gas":"0x27005","gasPrice":"0x12a05f200","input":"0x7ff36ab500000000000000000000000000000000000000000000000000000005b35e09d20000000000000000000000000000000000000000000000000000000000000080000000000000000000000000dc9173569d2c0801f90f1529f7c4de0e422394a00000000000000000000000000000000000000

[2022-05-30 02:44] ZRory commented on #930
it's send to pancakeswap router, always return
{
    "jsonrpc": "2.0",
    "id": 1124124,
    "error": {
        "code": -32000,
        "message": "invalid opcode: opcode 0xfe not defined"
    }
}

[2022-05-30 08:29] speqtovijay opened #933 "related to gas and gasprice"
can you anyone guide how to reduce gas limit, transaction gas ?
in Below screen shot i  already in code 21000 reduce to 18000 in code but when i started Block
chain on Local machine it shows 21000 i didnot get from where it shows 21000
![Screenshot from 2022-05-30 13-53-03](https://user-images.githubusercontent.com/96582747/170951788-9449f32b-9898-4bec-a7a6-4c94eb356457.png)

[2022-05-30 09:44] masayil opened #934 "rpc-call don't print the conn address"
![image](https://user-images.githubusercontent.com/65291464/170964890-4a0fbc62-e134-4b38-8374-d380e6a20e8f.png)
![image](https://user-images.githubusercontent.com/65291464/170965045-c566e359-5663-46da-a438-9ca223640579.png)
When will rpc-call  not print the conn address?  IPC?

[2022-05-30 09:49] vshybalov opened #935 "BSC Archive node prunning."
Hello everyone,

I am running bsc archive node with the following parameters:

`/srv/bsc/geth_linux --datadir /srv/bsc/data --config /srv/bsc/config.toml --http.corsdomain "*" --ws --graphql --gcmode=archive --syncmode=full --maxpeers 500  --txlookuplimit=0 --snapshot`

I know that with the time, performance will decrease as db grows, so I am going to run multiple bsc nodes, which will keep differ

[2022-05-30 11:36] ktrout1111 commented on #911
Except this isn't true. The spam is as bad now, or worse, than it was when the sorting was random. At least when the sorting was random there wasn't this extra problem with fake nodes.

https://bscscan.com/txs?a=0x911c6f41f62ae50277dcd2254753bc832aab904b&p=3

See above and the surrounding pages. Dozens of spam txs per block, and that is just one of 4 contracts owned by the same entity. So the spam

[2022-05-30 11:37] #934 closed

[2022-06-01 02:43] owen-reorg commented on #929
Not in the current plan.
We will do some research and reply to you later.

[2022-06-01 03:27] owen-reorg commented on #930
It seems the transaction is an existing transaction on chain.

[code]

When I changed the block height of `eth_call`, I got

[code]

But with latest height, the result is

[code]

I believe it's not the problem of chain or API, it's the problem of the contracts state.

You might try to debug it with [hardhat forking](https://hardhat.org/hardhat-network/guides/mainnet-forking).

[2022-06-01 03:33] owen-reorg commented on #933
You can overwrite `gas` and `gasPrice` in the parameter.

Check <https://web3js.readthedocs.io/en/v1.2.11/web3-eth.html#eth-sendtransaction>

[2022-06-01 04:38] speqtovijay commented on #933
can we change gas from Blockchain?

[2022-06-01 05:47] speqtovijay commented on #933
how can change from blockchain or any flag available for change or overite?

[2022-06-02 02:52] speqtovijay commented on #933
I changed in protocal_param.go file also but still 21000 showing

[2022-06-02 11:16] ZRory commented on #930
Sorry, I entered the wrong parameters, now it works fine, and you can turn off this issue,thanks

[2022-06-02 11:16] #930 closed

[2022-06-03 07:04] WB-Expert5007 commented on #137
Hi, First of all, I hope you are in good health.
I have same error.
Could you tell me how did you solve this problem?
I am looking forward to your reply.
Best Regards.

[2022-06-03 07:29] WB-Expert5007 commented on #76
Hi, Everyone.
First of all, I hope you are in good health.
And I have one error like below.
_Fatal: ./config.toml, line 67: field 'LogConfig' is not defined in node.Config, see https://godoc.org/github.com/ethereum/go-ethereum/node#Config for available fields
( ![image](https://user-images.githubusercontent.com/96474901/171807942-fb2fbdce-fe2d-4394-b424-d8ba6f8b1b20.png)
How can I fix this error?

[2022-06-03 07:43] WB-Expert5007 commented on #76
Hi, How are you?
Please check my question above and help me.
Best Regards.

[2022-06-03 11:23] WB-Expert5007 commented on #137
Hi, First of all, I hope you are in good health.
I have same error.
Could you tell me how did you solve this problem?
I am looking forward to your reply.
Best Regards.

[2022-06-04 04:14] masayil opened #937 "tx to BSC: Validator Set appears to be deleted on fullnode"
![image](https://user-images.githubusercontent.com/65291464/171982119-a5065266-520b-43a3-8a9f-d442444c8209.png)
![image](https://user-images.githubusercontent.com/65291464/171982173-f3967a64-2c96-4067-a87f-ae8f29d3cdf3.png)
This type of transaction appears to be deleted on full nodes.
I start the node from genesis, and I can get value when block height exceeds it. But several hours later , I get n

[2022-06-04 04:28] #937 closed

[2022-06-04 14:24] masayil opened #938 "--txlookuplimit problem"
I found that if I don't add `--txlookuplimit 0` (use default value 2350000) when I run a full node, then I will not be able to query the transactions in the earlier blocks. Get null value.
![image](https://user-images.githubusercontent.com/65291464/172005733-2bcd6668-8142-4c23-a4bc-27a07a889961.png)
if add `--txlookuplimit 0`  , I can get  the  expected result.
![image](https://user-images.githubu

[2022-06-04 14:46] #938 closed

[2022-06-05 02:22] tranductinh94 opened #939 "[Please help me] eth.pendingTransaction return null"
System information
Geth version: 1.1.0
OS & Version: Ubuntu

Expected behaviour
I'm subscribing to the pending transaction via websocket and getting the transaction with the hashes
Actual behaviour
The get transaction is returning null instead for all the pending transaction hashes. My txpool.status not data
![Screenshot_1](https://user-images.githubusercontent.com/42437812/172032201-ff7c0b2e-f10f

[2022-06-05 10:29] yarzc0de commented on #939
it's not fully synced

[2022-06-06 03:50] BabySid commented on #229
The same issue.... Is there any solution to this problem?

[2022-06-06 06:21] speqtovijay opened #940 "Gas Related"
can we setup blockchain without gas fee ?

[2022-06-06 12:06] vshybalov commented on #935
I found the issue, the issue was that systemd was shutting down the node incorrectly, and data was always corrupted, the signal for stop which works fine is SIGINT, after I send only this signal to stop geth, the data is fine, and state pruning works fine.

[2022-06-06 12:06] #935 closed

[2022-06-07 02:22] owen-reorg commented on #939
Does it work after fully synced?

[2022-06-07 02:22] kgcdream2019 opened #941 "Transaction stuck in my BSC node but works perfect with public node"
#### System information

Geth version: `geth 1.1.10`
OS & Version: Linux
Commit hash : (if `develop`)

#### Expected behaviour
Normally transaction should be confirmed within limited amount of time

#### Actual behaviour
I submitted transaction and it works before.
But I found some transactions stuck and wait permanently
I verified gas limit and gas price is normal : gas price 7.5 GWEI, gas limit

[2022-06-07 08:55] owen-reorg commented on #941
What's the response of `getTransaction` in your local node and public API after you submitted the transaction?

Does it mean the stuck transactions got confirmed after restart or new transactions after restart will not be stuck?

[2022-06-07 10:19] speqtovijay commented on #940
where can we found config.toml

[2022-06-08 17:26] kgcdream2019 commented on #941
Thanks for you reply,
In my javascript code, I use ethers library, the transaction is waiting permanently when I use my node rpc.
If I switch to public node RPC, then all is fine

[2022-06-09 03:11] owen-reorg commented on #941
Does your node run a local dev network or is connected to the public network?

In the local dev network, you should turn on the `miner` function in config.

In the public network, you can compare the latest height of your node with the public network to confirm that your node is connected to the public network and fully synced.

[2022-06-09 03:13] owen-reorg commented on #940
Check this document: <https://docs.bnbchain.org/docs/validator/fullnode>.

It only works for your local dev network.
The Testnet or Mainnet can not be configured with no gas fee.

[2022-06-09 03:17] owen-reorg commented on #933
Could you show where you changed exactly in the code and what's your expectation?

IMO, 21000 is the gas cost defined by the protocol. I believe there is no way to change it from Blockchain.

[2022-06-09 03:21] #931 closed

[2022-06-09 03:21] #939 closed

[2022-06-09 03:22] #921 closed

[2022-06-09 04:15] TheSlackOne commented on #921
Finally got synced with the `m5zn.3xlarge` instance, storage 8000 iops and 250 troughtputs. I had to use the [snapshots](https://github.com/bnb-chain/bsc-snapshots).

[2022-06-09 04:16] TheSlackOne commented on #925
Finally got synced with the `m5zn.3xlarge` instance, storage 8000 iops and 250 troughtputs. I had to use the [snapshots](https://github.com/bnb-chain/bsc-snapshots). Took about ~4 days.

[2022-06-09 04:16] #925 closed

[2022-06-09 04:17] billyadelphia commented on #904
@guagualvcha does v1.1.11 fixed this issue ? since no mention about this issue on v1.1.11 release page

[2022-06-09 04:18] seonggwonyoon commented on #925
I used two nvme disks mounted on i3en.2xlarge, which has better performance than aws ebs, in raid0.
It took a day to complete the sync.

[2022-06-09 04:19] TheSlackOne commented on #925
Aren't nvme physical disks?

[2022-06-09 04:24] seonggwonyoon commented on #925
I'm not sure if it's a physical disk or not.

However, it is much faster than ebs.

[2022-06-10 05:05] speqtovijay commented on #933
i changed in Blockchain code protocol module in which i found protocal_param.go in which gas defined so there changed

[2022-06-10 11:14] jurgenBE opened #944 "Some newbie questions regarding running a full node"
Hi, I've setup a full node an Ubuntu machine with 3.2 T nVME drives,and I got it up and running in Seattle :

1. If I compare my 'pending transactions' with for example Moralis - i find that mine are only as fast as Moralis, sometimes even slower and a lot less tx's than them. So it has no added value other than free calls for an expensive server, do you all have this too, or are you faster than t

[2022-06-10 17:06] kgcdream2019 commented on #941
My node is connected to public nodes and its height is latest.

[2022-06-11 10:13] zacintosh opened #945 "testnet is very slow"
It has been especially slow for the last couple of days.
I can't deploy or send token.
I can't develop with this!

[2022-06-11 12:10] guagualvcha commented on #945
@zacintosh  the first endpoint do have some issues, please try use following endpoints:
[code]

[2022-06-11 12:11] guagualvcha commented on #929
@bertho-zero  We do not have plan to include EIP-3074 recently.

[2022-06-11 12:11] guagualvcha commented on #919
close this since no further discussion.

[2022-06-11 12:11] #919 closed

[2022-06-11 13:24] zacintosh commented on #945
@guagualvcha thank you. Connected.

But this time [https://testnet.bscscan.com](https://testnet.bscscan.com) returned 522 Error.
The testnet is very unstable.

Please close this ticket for now.

[2022-06-11 13:24] #945 closed

[2022-06-12 13:47] SomeGuyCalledBru opened #946 "Geth won't gracefully shut down"
#### System information

Geth version: `Geth v1.1.11`
OS & Version: Ubuntu 20.04 LTS
Commit hash: -

Having trouble shutting down a new node, it keeps hanging with `Waiting background transaction indexer to exit`. Synced from BNB48 snapshot block #18615124.

#### Expected behaviour
Shuts down gracefully

#### Actual behaviour
`Waiting background transaction indexer to exit` message followed by han

[2022-06-13 04:44] barryz commented on #904
V1.1.11 is just a  release that contains hard-fork changes.

[2022-06-14 03:39] owen-reorg commented on #917
Here is a guide for metamask: <https://metaschool.so/articles/set-gas-fees-metamask-wallet/>

For other wallets, you should check the manual.

Feel free to reopen the issue if you have any further questions.

[2022-06-14 03:39] #917 closed

[2022-06-14 03:39] #922 closed

[2022-06-14 03:39] #929 closed

[2022-06-14 03:41] owen-reorg commented on #933
Did you set the gasLimit to 5000 when you sent the transaction after changing the code?

[2022-06-14 03:41] #940 closed

[2022-06-14 03:54] owen-reorg commented on #944
The transactions are received by a full node(either local or remote) via HTTP request first and then broadcast to the whole network via P2P protocol.
It's expected to be faster in the first step but in the view of the transaction being mined, there is no apparent difference between them. It depends on the network.

If you want to speed up the confirmation time of your transaction in a crowded netw

[2022-06-16 05:39] SomeGuyCalledBru commented on #946
https://github.com/BNB48Club/bsc-snapshots/issues/6#issuecomment-1157253367 - This was pretty much just my mistake and unrelated with the node.

[2022-06-16 06:28] Lucienest commented on #911
It's very unlikely that the BSC team will take any concrete actions like the previous thread.

[2022-06-17 01:30] ibadullaev-inc4 opened #948 "My node is not finish syncing"
Hi My node is not finish syncing

**instance-type** = m5zn.3xlarge
**VolumeType**   = gp3
**Size**                = 2000 GB
**Iops**                = 8000
**Throughput**    = 300

**VERSION**
[code]

**RAM**
[code]

**CPU**
[code]

**IOPS**
[code]

**SYNCING**
[code]

[2022-06-17 05:12] phattv opened #949 "Full node says "State heal in progress" for more than 2 days (and counting)"
#### System information

Geth version:
[code]
OS & Version:
[code]

#### Expected behaviour
Node should be fully synced and able to return data for `eth.getCode`
[code]
https://bscscan.com/address/0x5ab19e7091dd208f352f8e727b6dcc6f8abb6275

#### Actual behaviour
`getCode` should return code instead of "0x"

However, `getBlockByNumber` is returning the correct hash for the block so i guess getting

[2022-06-17 10:44] ibadullaev-inc4 commented on #948
[log.txt](https://github.com/bnb-chain/bsc/files/8926799/log.txt)

[2022-06-18 02:56] Loverush commented on #948
As I can see, your node is syncing properly
`t=2022-06-17T10:42:58+0000 lvl=info msg="Imported new block headers"             count=1    elapsed="237.68µs"  number=18,764,922`

[2022-06-18 03:33] ibadullaev-inc4 commented on #948
What do you mean when say "As I can see, your node is syncing properly" ?
Does this mean I need to wait ? If yes , how long this process take in a time ?
Note: I started my node 4 days before.

1) Why I not observe sync status equal false like in other blockchain ?
[code]

2) Why this difference "eth.syncing.highestBlock - eth.syncing.currentBlock" not equal zero ?
[code]

[2022-06-18 04:37] NeoXtreem commented on #652
Anyone still having issues, refer to this solution [here](https://bscrpc.com). Worked for me.

[2022-06-18 05:43] ofarukcaki commented on #778
Using the --mine flag didn't work and resulted in corrupted node. How can I access the pending block?

[2022-06-18 13:18] metafootball opened #951 "bsc节点可以随意冻结合约执行？"
我们为了捕捉 bsc 上的抢跑机器人
做了一个 token 合约在交易时冻结抢跑的买入订单
该合约没有进行任何推广，仅是自己的地址买入
上线后有两个抢跑机器人买入后被冻结
随后该合约 代币 便无法转入 lp
直至现在 合约无法进行任何交易
合约地址 0x11fd1db37e597c094001be80a93c0840912a9db2

作为一个去中心化网络需要明确如下问题：
1. 节点是否有黑名单机制？
2. 如果有，黑名单触发机制是什么规则，需要明确规则拒绝黑箱操作
3. 如何解除黑名单，明确规则

[2022-06-18 14:21] smithdodo commented on #951
Just did a quick check on your contract. It seems that the problem occured after the following tx:
 `0x13ec532024d34b8291c7d83ac2049f2c5df6cbf8a0e297a77c4620a2e824300c`

I can confirm that before this tx
- Transfer from one of your addr `0x2bd09e...` works fine
- LP burn from `0xa2696f...` works fine

After that tx all transfers will fail with revert msg - "can not trade"

It is problably not a bs

[2022-06-18 14:39] Loverush commented on #949
It's because your disk io speed can not catch the speed of block growth. We recommend you to download snapshot to sync up.

[2022-06-19 05:54] Loverush commented on #948
OK, I got it. So your node is behind the current header and can not catch up for last 4 days. Which sync mode you used? We recommend to use snapshot to sync up. Because the speed of block growth is faster than the disk's I/O. You can see here https://github.com/bnb-chain/bsc-snapshots

[2022-06-19 05:54] Loverush commented on #949
You can see here https://github.com/bnb-chain/bsc-snapshots

[2022-06-19 06:42] metafootball commented on #951
谢谢，lp 已全部取出

[2022-06-19 06:42] #951 closed

[2022-06-19 07:01] #788 closed

[2022-06-20 12:46] billyadelphia commented on #778
@DawkliCrypto @ofarukcaki , I gave up, modifying the code didn't help me.

@Loverush can I request to re-enable this feature ? Some people need this. The feature doesn't have to be enabled by default, only if we specify a flag like `--enable-pending-block`

[2022-06-20 13:56] jbc-deve opened #954 "When soul bound token on bsc?"
# Rationale

[eip-5114](https://eips.ethereum.org/EIPS/eip-5114)

# Implementation

Do you have ideas regarding the implementation of this feature?
Are you willing to implement this feature?

[2022-06-21 05:23] slashramin commented on #948
I had the same problem then I changed server to the hetzner and installed an nvme-ssd on it
That solved my problem

[2022-06-21 11:45] Fillicia opened #956 "prune-block destroyed my node (?)"
#### System information

Geth version: `1.1.8`
OS & Version: Ubuntu 20.04.4 LTS

#### Expected behaviour
Execute `./geth snapshot prune-block --block-amount-reserved 1024 --datadir /media/chain-data/bsc --datadir.ancient /media/chain-data/bsc-ancient`

And then be able to start the node again.

#### Actual behaviour
The prune comes out as successful
[code]
but then the node crash on startup and ca

[2022-06-21 11:56] #956 closed

[2022-06-21 16:02] ibadullaev-inc4 commented on #948
I am using following way to start full node from snapshot.

how-to
--------------------------------------------------------------------------------------------
1) Download the pre-build binaries
[code]

2) Download snapshot and extract:
[code]
3) Download genesis.json and config.toml by:
[code]

4) start node
[code]

Question:
Do I need any additional steps ?

[2022-06-22 08:26] Loverush commented on #954
Hi @jbc-deve, we currently have no plans to do it.

[2022-06-22 08:26] #954 closed

[2022-06-22 11:42] zhaoxiangjunupi opened #957 "How to run this docker images ???please"
https://hub.docker.com/r/dysnix/bsc/tags

[2022-06-22 11:43] zhaoxiangjunupi commented on #957
how to run this images??
eg:docker run .....

[2022-06-23 02:11] Loverush commented on #957
You can refer to https://github.com/bnb-chain/bsc-docker

[2022-06-23 02:18] zhaoxiangjunupi opened #960 "You can refer to https://github.com/bnb-chain/bsc-docker"
There is no docker run parameter here.

[2022-06-23 02:18] zhaoxiangjunupi commented on #957
There is no docker run parameter here.

[2022-06-23 02:19] zhaoxiangjunupi commented on #957
Is this too simple, no parameters are specified, and the API cannot be accessed

[2022-06-23 02:25] Loverush commented on #957
If you wanna run a private node locally, you can just follow above repo step by step

[2022-06-23 02:25] #960 closed

[2022-06-23 02:28] zhaoxiangjunupi commented on #957
I want to use docker run images + specific parameters...
do you have any idea？？please

[2022-06-23 02:36] #957 closed

[2022-06-24 02:27] Loverush commented on #948
Just to be sure, where did you extract the snapshot data

[2022-06-24 03:01] zcrypt0 opened #962 "Head State broken on latest snapshot"
#### System information

Geth version: `geth version` v1.1.11
OS & Version: Linux
Commit hash : (if `develop`)

#### Expected behaviour
Node syncs after downloading latest snapshot.

#### Actual behaviour

Head state is broken, some kind of issue with the ancient limit.

[code]

And it is still going, looks like it might rewind all the way!

#### Steps to reproduce the behaviour
Download snapshot,

[2022-06-24 03:09] zcrypt0 commented on #962
This issue appears more serious and the snapshots look to be completely broken.

I noticed a file called `nohup.out` in the `server/data-seed/geth` directory and took a look inside. It looks like lots of lines like this:

[code]

It looks like the latest snapshots are incomplete.

[2022-06-24 03:49] ibadullaev-inc4 commented on #948
1) Working directory
[code]

2) Disk capacity information
[code]

3) Disk tree structure
[code]

[2022-06-24 07:09] Loverush commented on #948
[code]
Did you do this? Extract the snapshot to these dirs

[2022-06-24 07:10] #949 closed

[2022-06-24 08:16] Loverush commented on #962
We will check that. And you can try [snapshot from BNB48 community](https://github.com/BNB48Club/bsc-snapshots).

[2022-06-24 08:17] Loverush commented on #948
Our newest snapshot may be broken. We are checking that. And you can try [snapshot from BNB48 community](https://github.com/BNB48Club/bsc-snapshots) first.

[2022-06-24 10:40] michaelr524 commented on #502
We've successfully started a full node from snapshot. The snapshot started at 1.5T - is this the minimal size at this time?
BTW, tried pruning and get this error:
head doesn't match snapshot: have 0xdbdcc7285975a1077c86cc1f1913fc490c4a85817b729fdacafdac4da6953b6b, want 0x919fcc7ad870b53db0aa76eb588da06bacb6d230195100699fc928511003b422
Anyone knows what does this mean?

[2022-06-24 11:27] michaelr524 commented on #502
Cool! How do you make these? Could you share any links to docs or explanation? @du5

[2022-06-24 11:41] ofarukcaki commented on #502
How it can be that much small? I have pruned my node and it only reduced to 1.3TB

[2022-06-24 13:32] Traianik opened #965 "Transaction speed question."
Hello! I have a problem and i don't know from which side is the problem. I made a transaction instantly when a token was launched, at time 06:00:08 PM , however, my transaction was only confirmed after 2 blocks at time 06:00:14 PM, but the first transaction with this token was made exactly at the launch at 06:00:08, from here what is the problem? That I got delay from node or blockchain is taking

[2022-06-25 02:18] Loverush commented on #965
Nodes have their right to choose which txs to broadcast. In general, if you want to be fast, you have to run your own node.

[2022-06-25 02:18] #965 closed

[2022-06-25 14:53] Traianik commented on #965
Ok, but how it is possible that the first transaction is in the same block when liquidity is added, I thought when you broadcast a transaction it should take like 2 blocks to approve..

[2022-06-26 13:19] #944 closed

[2022-06-26 13:28] #948 closed

[2022-06-26 13:29] #962 closed

[2022-06-28 03:34] bhswap opened #968 "The node cannot be started properly"
Linux / CentOS
Geth version v1.1.11
Failed to start the node after the snapshot pruning is complete.
Pruned both nodes and encountered the same problem
Tried to roll back versions V1.1.9 and V1.1.10. Is void.

geth \
--config "./config.toml" \
--datadir "./data"  \
--cache "36000" \
--http.corsdomain "*" \
--http.vhosts "*" \
--ws.origins "*" \
--diffsync \
--snapshot="true" \
--rpc.allow-unprotec

[2022-06-28 07:13] antech-ashwani opened #969 "mainnet stuck on 18907620 block, error show"
t=2022-06-28T06:10:36+0000 lvl=eror msg="Ethereum peer removal failed"          peer=bf233d6a err="peer not registered"
t=2022-06-28T06:15:27+0000 lvl=info msg="Downloader queue stats"                receiptTasks=0 blockTasks=0    itemSize="37.84 KiB" throttle=1732
t=2022-06-28T06:15:28+0000 lvl=info msg="Importing sidechain segment"           start=18,907,621 end=18,908,149
t=2022-06-28T06:15:28+

[2022-06-28 11:52] Marijus commented on #968
having same issue. please let me know if you manage to resolve it.

[2022-06-28 17:20] tpalaz commented on #502
I've successfully setup and ran my fullnode using BNB48Club's snapshots and have been able to get it to sync.
One issue I'm facing is that historic transactions aren't able to be retreived via RPC calls. Specifically, eth_getTransaction and getTransactionReceipt return **null**. Whereas if the transaction was recent (within a few blocks ago), the node has no problem serving it.

Is this due to the

[2022-06-28 17:40] tpalaz opened #970 "Cannot fetch historical transactions even with txlookuplimit 0"
I've successfully setup and ran my fullnode using BNB48Club's snapshots and have been able to get it to sync.

I'm facing is that historic transactions aren't able to be retreived via RPC calls. Specifically, eth_getTransaction and getTransactionReceipt return null, and any other data / logs older than 4 days doesn't work. Whereas if the transaction was recent (before 4 days ago), the node has no

[2022-06-28 17:48] #970 closed

[2022-06-29 04:01] i11m20n opened #971 "Current archive node hard disk usage"
I want to deploy an archive node, how big of a hard drive should I buy?

[2022-06-29 08:40] michaelr524 commented on #502
I got it running very quickly. Thanks for sharing. For our purpose we only need recent blocks so it fits very well.

[2022-06-29 09:56] bhswap commented on #968
Delete the existing data, download the snapshot from this address for resynchronization, follow the steps above
https://github.com/BNB48Club/bsc-snapshots

[2022-06-30 07:14] #968 closed

[2022-06-30 09:20] cosinlink commented on #971
at least 17T

[2022-06-30 09:22] #969 closed

[2022-07-01 08:07] haumanto commented on #502
dear @guagualvcha , the mgas value of one of our nodes is below 50, attach is the profile file... please help checking...
[profile_60s.out.zip](https://github.com/bnb-chain/bsc/files/9027226/profile_60s.out.zip)

[2022-07-02 05:20] haumanto commented on #875
hi @forcodedancing , my node keeps getting "Synchronisation failed, dropping peer" issue and stop syncing... the only solution is to restart. it happens very often. attach is the performance profile. please help reviewing it..
[profile_60s.out.zip](https://github.com/bnb-chain/bsc/files/9032469/profile_60s.out.zip)
.

[2022-07-02 12:58] fomotrader opened #973 "Pending transactions not found in mempool"
#### System information

Geth Version: 1.1.11
Git Commit: 70d08a5791d0650322e79591ac1fb869df607586
Git Commit Date: 20220608
Architecture: amd64
Go Version: go1.17.2
Operating System: linux
GOPATH=/root/go
GOROOT=go

#### Expected behaviour
Mempool should have pending transactions

#### Actual behaviour
Mempool has no pending transactions, the node just mines a ton of blocks and that's it

#### St

[2022-07-03 10:27] freaker2k7 opened #974 "What happened in v1.1.11 that it can't find peers ?"
Since I upgrade to v1.1.11 it now takes hours for the node to find peers in contrast to the previous versions when it connected almost instantly.

I tried downloading the latest `config.toml` hoping you updated the bootnodes and the static ones, but no change, my nodes now take hours to find peers.

I see it tries hundreds of nodes but can't connect to any:
[code]

Any suggestions ?

[2022-07-03 16:35] freaker2k7 commented on #974
@du5  Tried, same behavior.

My servers are in Germany and Finland BTW...

[2022-07-03 17:25] freaker2k7 commented on #974
@du5 Thank you very much.
Currently it magically found some peers, so I'll let it be, but I'll have to restart soon and update you on how it goes.

[2022-07-05 00:57] kugimiya530 commented on #974
where did u find this

https://api.binance.org/v1/discovery/peers  ?

[2022-07-05 08:49] freaker2k7 commented on #974
@kugimiya530 du5's list doesn't work.

[2022-07-05 08:56] cosinlink commented on #974
In some cases, it may take hours to find available nodes without stopping them

[2022-07-05 08:58] freaker2k7 commented on #974
In Germany 3 nodes of mine are still looking for peers the 7'th day....

[2022-07-05 09:11] kugimiya530 commented on #974
where did you find those new static node

[2022-07-05 11:46] freaker2k7 commented on #974
@cosinlink this list doesn't work.

@kugimiya530 what is this magic link - https://api.binance.org/v1/discovery/peers ?
Google results screenshot - https://i.imgur.com/Mhau7bO.png

[2022-07-05 11:51] kugimiya530 commented on #974
Uh.. i saw it in bsc offical guide, you cant enter this website?

Evgeny Kolyakov ***@***.***> 於 2022年7月5日 週二 下午7:47 寫道：

[2022-07-05 11:55] freaker2k7 commented on #974
Wow!!!! I ran `curl -XGET "https://api.binance.org/v1/discovery/peers"` on the machine (just for safety, maybe it's geo dependent 🤷‍♂️) and just appended that list to the original `config.toml` (both to static & bootnodes) and it connected right away !!!!

Thank you!!!.

[2022-07-05 12:07] fomotrader commented on #973
https://gist.github.com/fomotrader/b7be33b03de17ce9560606e0cd673380

`/geth --config /root/config.toml --datadir /root/server/data-seed/geth/ --cache=54000 --pcscdpath=""`

[2022-07-06 01:13] kugimiya530 commented on #974
can u share ur geth's startup parameter?

[2022-07-06 07:48] freaker2k7 commented on #974
@kugimiya530 sure.

So I build it in a docker:
`docker build --tag bsc --build-arg VERSION=1.1.11 --network host https://github.com/freaker2k7/binance-smart-chain-node.git`

I fixed some issues in my fork, tried to PR, but no response from the dev of the original `binance-smart-chain-node` repo.
Also, my machine is strong enough to run a miner in a docker and not "feel" it at all and I got 6T of s

[2022-07-06 07:57] kugimiya530 commented on #974
Did u using snapshot?

Maybe u can download or redownload it and add parameter

--snapshot=false , i was have same problem few days ago, and solve by this

Evgeny Kolyakov ***@***.***> 於 2022年7月6日 週三 下午3:48 寫道：

[2022-07-06 08:00] freaker2k7 commented on #974
1. `Did you use`
2. I clearly wrote I'm using a snapshot
3. Why should I redownload it if I just downloaded it ?!
4. `add a parameter`
5. Where to add ? what to add ?
6. Please don't write "I guess" answers.

[2022-07-06 08:06] kugimiya530 commented on #974
Ok, just trying to figure, cuz i meet this problem and solve, if u dont
want me guess i will be quiet, cuz i am not user thx

Evgeny Kolyakov ***@***.***> 於 2022年7月6日 週三 下午4:01 寫道：

[2022-07-06 11:40] Akbar30Bill opened #977 "get_all_entries Always timeout"
#### System information

Geth version: `geth 1.1.11`
OS & Version: Ubuntu Linux 20.04
Connection method: python3.8 web3 IPC

#### Expected behaviour
After create filteron a contracts events
[code]
I call geth all entries with
[code]
I should retrieve all events from block i to i+100

#### Actual behaviour
I will always get timeout
verbose logs suggests that create filter (Served newFilter) is Serv

[2022-07-07 07:08] cosinlink commented on #974
Have you fixed this issue ?

[2022-07-07 07:11] cosinlink commented on #977
Could you provider the public repo to replay this issue?

[2022-07-07 07:22] cosinlink commented on #973
You need to confirm that the block height is the latest, otherwise you really cannot receive the latest transaction, it is possible that your node machine is poor, so you may fall behind the latest height of BSC

[2022-07-07 08:30] gitloverr opened #980 "My node is so slowly syncs!!!"
Hello everyone,

 my node so slowly sync after last release.

my starter parameter

`./geth --config xxxconfig.toml --datadir xxx --metrics --pprof --pprof.addr 0.0.0.0 --maxpeers 1000 --cache 18000 --http --http.addr 0.0.0.0 --http.port xxx --http.corsdomain "*" --ws --ws.origins="*" --ws.addr 0.0.0.0 --allow-insecure-unlock --diffsync --rpc.allow-unprotected-txs --txlookuplimit 0  --snapshot=fal

[2022-07-07 09:18] forcodedancing commented on #846
Both fixed in our latest `develop` branch, and it will be release soon. Please watch our new release, Thanks.
[code]

[code]

[2022-07-07 09:19] #846 closed

[2022-07-07 10:36] baixiaoyu2997 opened #981 "missing trie node"
#### System information

use testnet rpc :https://data-seed-prebsc-1-s1.binance.org:8545/

#### issue
contract call revert  , can't find block `20781539`

[code]
will show error:
[code]

[2022-07-07 10:42] cosinlink commented on #980
1. remove `--diffsync`
2. use separate node to run bsc, refer to : https://github.com/bnb-chain/bsc/pull/926,
 - use develop branch, compile to geth
 - `./geth --config ./config.toml --datadir ./node --syncmode full --cache 5000 --tries-verify-mode none`

[2022-07-07 10:48] cosinlink commented on #981
try these rpcs:
`https://data-seed-prebsc-1-s2.binance.org:8545`
`https://data-seed-prebsc-2-s3.binance.org:8545`

[2022-07-07 10:50] cosinlink commented on #974
we will update new `StaticNodes` after a while, it maybe help for this issue

[2022-07-07 10:50] #974 closed

[2022-07-07 16:03] fomotrader commented on #973
Here's a script that compares my block height to bscscan

<img width="617" alt="image" src="https://user-images.githubusercontent.com/82184770/177819542-a02aca0a-7bf3-49c3-95f7-a974bb500074.png">

[2022-07-08 01:15] baixiaoyu2997 commented on #981
I've tried it before, it doesn't work

[2022-07-08 01:56] baixiaoyu2997 commented on #981
i think it is graph-node issue

[2022-07-08 02:18] baixiaoyu2997 commented on #981
i can give u full demo :
[code]

[2022-07-08 04:36] atlaschiew opened #984 "Pending in txpool always show 1"
Hello, anyone here knows why my pending counter always show 1 while queued counter is keep increasing?

![image](https://user-images.githubusercontent.com/45816141/177917502-16438d10-bca0-4f85-9960-d81caba41d40.png)

my [Eth.TxPool] setting in config.toml
[code]

geth version 1.1.11

[2022-07-08 05:26] atlaschiew commented on #973
hi @fomotrader is ur issue same as me? https://github.com/bnb-chain/bsc/issues/984

[2022-07-08 07:08] SolidityGo commented on #984
Could you check the latest height compared other nodes  ?

[2022-07-08 11:17] atlaschiew commented on #984
i have latest height compared to other nodes.

my terminal keep showing `ERROR[07-08|13:09:23.397] Snapshot extension registration failed   peer=3ce52055 err="peer connected on snap without compatible eth support"` , but i dun think it matters my case.

it seems like tx is coming to my txpool, but it cant be promoted to pending. will it caused by some bugs of v1.1.11?

[2022-07-08 11:19] atlaschiew commented on #984
and my node cannot shut down properly, most of tijme i have to execute `pkill -HUP geth`

[2022-07-08 11:31] Akbar30Bill commented on #977
Basically `get_all_entries` fails with timeout what do you mean by public repo? @cosinlink

[2022-07-08 12:24] atlaschiew commented on #984
sorry, my bad, i created a new module then occur channel blocking through subscribing newTxsEvent`

[2022-07-08 12:24] #984 closed

[2022-07-08 17:03] lvmingliang opened #987 "runtime error"
#### System information

Geth version: `1.1.11`
OS & Version:Linux
Commit hash : (if `develop`)

#### Expected behaviour

goroutine 1930776 [select]:
github.com/ethereum/go-ethereum/core/state.(*subfetcher).loop(0xc2e64ce9c0)
        github.com/ethereum/go-ethereum/core/state/trie_prefetcher.go:328 +0x1e5
created by github.com/ethereum/go-ethereum/core/state.newSubfetcher
        github.com/ethere

[2022-07-09 12:12] fomotrader commented on #973
No I don't think so as my mempool has 0 transactions most of the time

[2022-07-10 14:53] gitloverr commented on #980
hi,

if I restart the node it is catching... but there is something I noticed: if I start send requests to the node I starting to lose sync...

this is ridiculous... how do I solve this problem?

thank you

[2022-07-11 02:08] cosinlink commented on #987
checking

[2022-07-11 02:09] cosinlink commented on #980
could you provide more details or screenshot?

[2022-07-11 02:11] cosinlink commented on #977
the demo you sent `get_all_entries ` for replay the issue

[2022-07-11 03:11] brilliant-lx commented on #987
Based on the provided backtrack, `trie_prefetcher `is waiting for messages, it worked normally.
Pls more the whole backtrace.
And one more thing, did you use the v1.1.11 released version?

[2022-07-11 13:50] gitloverr commented on #980
hi,
my machine specs are as follows:
Disk: SSD
CPU: 48 Core
RAM: 192GB
IOPS: 10K

If I send the requests over as WS or HTTP , the node falling behind... if I stop sending request I don't have sync problem. I guess, this is happening due to request limits. this happened after the 1.1.11 release...

also my machine cpu & ram load that's like:

<img width="892" alt="Image_CPU_RAM" src="https://user-i

[2022-07-11 15:35] Marijus opened #988 "peerCount recommendations"
I'm successfully running full node with mgasps way above the recommended 50. However, my peer count is only 26-30.

I've set my MaxPeers = 100 and updated static nodes with nodes from here: https://api.binance.org/v1/discovery/peers

However, it has not increased from the initial 30.

1. How do I increase the number of peers?
2. What effect will the number of peers will have?

[2022-07-12 15:02] psdlt commented on #988
hi. to increase your peer count you first need to open up `ListenAddr` (30311 by default) for incoming connections, otherwise you will only get 1/3 of your `MaxPeers`.
what effect will higher number have? higher bandwidth usage, higher cpu usage, maybe your node will learn about new blocks and txs faster.

[2022-07-13 00:53] brilliant-lx commented on #987
pls provide the full backtrace log or how to reproduce.

[2022-07-13 00:53] #987 closed

[2022-07-13 02:26] i11m20n opened #989 "Database compacting, degraded performance"
### System information
Geth version: `1.1.11`
Commit hash: `70d08a5791d0650322e79591ac1fb869df607586`
OS & Version: `CentOS Linux release 7.9.2009 (Core)`

### Expected behaviour
Block data should be synced normally

### Actual behaviour
When `Database compacting, degraded performance` block stop synchronization

### Steps to reproduce the behaviour
[code]

### Backtrace
[code]

[2022-07-13 02:37] yutianwu commented on #989
are you going to run an archive node? it's very hard to run for an individual. if you want the rpc service of an archive node, you can use 3rd party service like https://meganode.nodereal.io/.

[2022-07-13 02:46] i11m20n commented on #989
Yes, I need to deploy my own archive node.

[2022-07-13 15:08] jasonyic opened #991 "[Feature] update dockerfile to support env variable"
# Rationale

Currently, `Dockerfile` does not support start with default configuration, e.g testnet configuration and docker run does not init genesis & start node automatically. same docker image should also be able to start as full node in either `mainnet` or `testnet`, based on a `env` variable, e.g. `BSC_NETWORK`.

e.g.
`docker run -d ghcr.io/bnb-chain/bsc` should init with the genesis file an

[2022-07-13 19:29] ofarukcaki commented on #778
Did you able to find a solution to this problem yet?

It does not make any sense to make such critical change on the codebase. BSC fork of the geth is full of problems

[2022-07-14 07:01] yutianwu commented on #989
can you refer to https://github.com/bnb-chain/bsc/issues/502? archive node is hard to maintain for individuals.

[2022-07-14 08:12] masayil commented on #989
For individuals ,  Is [erigon](https://github.com/ledgerwatch/erigon) a good choice? I run a bsc archive node on erigon. Size:~4.8T

[2022-07-15 01:50] i11m20n commented on #989
I need to deploy my own archive node that gives me the full state dataset. A full node cannot meet my needs, so I prepared a 30TB SSD hard drive.

[2022-07-15 02:00] yutianwu commented on #989
not only the hard drive, but the spec of the machine. you can also try with https://github.com/ledgerwatch/erigon. it should be more economic to use a 3rd party service than running your own node.

[2022-07-15 02:01] i11m20n commented on #989
The current data of the geth archive node has grown to 17TB (see #971) . Will there be a lack of data when using [erigon](https://github.com/ledgerwatch/erigon) archive node? Why is erigon's hard drive used so little?

[2022-07-15 03:03] masayil commented on #989
I use `eth_getBalance` and `eth_getStorageAt`  to scan the whole chain. I don't find this problem

[2022-07-15 05:58] jasonyic opened #994 "HTTPHost would not be overwritten by --http.addr if config.toml being used"
#### System information

Geth version: `v1.1.11`
OS & Version: Linux

#### Expected behaviour
config.toml:
[code]

`geth --config config.toml --http.addr 0.0.0.0 --http.port 8545` would expect RPC listening on `0.0.0.0`

#### Actual behaviour
RPC is listening on `127.0.0.1`, set in config.toml

INFO [07-15|05:53:19.192] HTTP server started                      endpoint=127.0.0.1:8545 prefix= cors=

[2022-07-16 03:37] billyadelphia opened #997 "Re-enable pending block access without --mine parameter"
Based on my question #778 and this issue #358
Even with --mine parameter, I still can't access pending block somehow.
# Rationale

Why should this feature exist?
Because it's enabled by default on any other EVM blockchain, a lot of us needed this.

# Implementation

Do you have ideas regarding the implementation of this feature?
I have tried, but gave up. It doesn't have to enabled by default, lik

[2022-07-17 13:27] Akbar30Bill commented on #977
[code]

[2022-07-18 06:53] yutianwu commented on #997
There was a performance issue related to the `--mine` flag, so we disabled it. There is no plan to add it back recently.

[2022-07-18 08:26] #991 closed

[2022-07-18 20:12] banlieu451 opened #1000 "Tx always pending with NodeJS, using my own bsc node"
Hello everybody i have a missunderstood, i run my own bsc full node and it work ... with some troubles

My server config is :

i9
2 TB NVME
4x RAM 32768 MB DDR4
1000 mb/s

i run this command on geth :

./geth --config ./config.toml --datadir ./node --cache 18000 --rpc.allow-unprotected-txs --txlookuplimit 0 --syncmode 'fast' --ws --ws.port 8546 --ws.addr (ip) --http --http.port 8545 --http.addr (i

[2022-07-18 22:14] banlieu451 commented on #989
I fix this pb you need use different sync try use fast and add —diffsync
personnaly i needed to change as fast after to full

[2022-07-19 03:58] yutianwu commented on #994
Hi, this issue will be fixed in https://github.com/bnb-chain/bsc/pull/999, and it should be included in the next release.

[2022-07-19 04:00] yutianwu commented on #997
We disabled this feature in https://github.com/bnb-chain/bsc/pull/358, you can refer to this.

[2022-07-19 04:00] #997 closed

[2022-07-19 04:03] yutianwu commented on #1000
can you refer to this https://github.com/bnb-chain/bsc/issues/502 first?

[2022-07-19 14:22] jasonyic commented on #994
thank you

[2022-07-19 20:10] banlieu451 commented on #1000
Thanks for your reply i do it this message appear :

<img width="637" alt="Capture d’écran 2022-07-19 221004" src="https://user-images.githubusercontent.com/76543738/179839455-10a80e27-bbdb-4a4a-875d-b2db207ad08f.png">

[2022-07-19 20:36] banlieu451 commented on #1000
Try to prune - 100 block of header i get this :

<img width="941" alt="Capture d’écran 2022-07-19 221004" src="https://user-images.githubusercontent.com/76543738/179843620-f375fbe0-32a2-4d3a-b6cf-ead544c4b4ea.png">

[2022-07-19 20:38] banlieu451 commented on #502
Try to prune - 100 block of header i get this :

<img width="941" alt="Capture d’écran 2022-07-19 221004" src="https://user-images.githubusercontent.com/76543738/179843620-f375fbe0-32a2-4d3a-b6cf-ead544c4b4ea.png">

[2022-07-20 03:01] #1000 closed

[2022-07-20 03:02] #988 closed

[2022-07-21 20:04] dawnkie commented on #778
Is there any solution now?

[2022-07-21 20:14] dawnkie commented on #997
How do you solve it now?

[2022-07-21 20:20] dawnkie commented on #997
How to config to re-enable pending function?

[2022-07-21 22:19] James19903 opened #1010 "How to view active Static Peers"
Figured it out 👍

[2022-07-22 07:29] cosinlink commented on #980
Sorry for missing that, have you fixed this issue ?

[2022-07-22 10:39] Githugutech opened #1012 "BSC FULLNODE SYNC"
#### Method Used to Sync BSC Fullnode from the genesis block

##### Hello. Could you help me please. I used the following procedure:

Geth version: `V1.1.8`
OS & Version: Ubuntu 20

#### Expected behaviour
I fully expected the syncing process to run successful and faster. I synced ETH node and it took me 4 hours to sync data from 6 years and 6 months.

#### Actual behaviour

. Failed with the foll

[2022-07-25 06:40] #1010 closed

[2022-07-26 08:45] mj-dcb commented on #502
You can attach to the node and run an `eth.syncing` command.

[2022-07-26 08:52] SomeGuyCalledBru commented on #1012
Your version seems outdated-newest is v1.1.11. If that does not fix it, simply remove the config line causing the error

[2022-07-26 12:05] Githugutech commented on #1012
still doesn't work, i have tried even the old versions but i have the same problem

[2022-07-26 20:14] dgdeivid commented on #809
Is there any news?

[2022-07-27 03:41] 0pa9ue commented on #246
Is there any way that can solve this problem? I'm still facing the same error.

[2022-07-27 08:23] hophat opened #1021 "I have been running fullnode for more than 7 days but still not done.please help"
This should only be used in very rare cases e.g. if you are not 100% sure if something is a bug or asking a question that leads to improving the documentation. For general questions please use [discord](https://discord.gg/nthXNEv) or the Ethereum stack exchange at https://ethereum.stackexchange.com.

![image](https://user-images.githubusercontent.com/21335957/181198068-93d094dc-4b2c-4127-ace1-aa2f

[2022-07-27 09:02] pthor11 opened #1022 "Why a fresh new smart contract address has transactions before ? Is it valid for blockchain?"
We've deployed a new smartcontract at https://testnet.bscscan.com/address/0xd07e82440a395f3f3551b42da9210cd1ef4f8b24.

But it does have a log of previously transactions that existed before. Why is that?

[2022-07-27 11:15] SomeGuyCalledBru commented on #1022
It is valid, addresses exist before contract code gets assigned to them. That being said, this is insanely, insanely, crazily unlikely and someone probably derived the contract address using the address you used to deploy.

[2022-07-27 11:19] SomeGuyCalledBru commented on #1021
You have not done anything wrong. This is just how long it takes. Send your eth.syncing output for an approximation

[2022-07-28 12:24] masayil opened #1026 "About new feature"
1)If I dont't want to enable new feature #926 . Do I need to make any changes？
This is my command:`geth_linux --cache 64000 --datadir /root/svc/node --config /root/svc/config.toml --pipecommit --txlookuplimit 0 --rpc.txfeecap 0 --txpool.reannouncetime 5m --syncmode full`
2) conflict with the nodes enabled archive mode？

[2022-07-28 12:34] mj-dcb opened #1027 "Geth does not start after updating to v1.1.12"
Hello,

I just updated the geth client from v1.1.10 to v1.1.12. I can't started geth somehow, I use the same command as before:
`./geth --config ./config.toml --datadir ./mainnet --diffsync --cache 21000 --rpc.allow-unprotected-txs --txlookuplimit 0 --ws --ws.addr "0.0.0.0" --ws.port=8545  --ws.origins='*' --pruneancient` I added --pruneancient to reduce the used disk space.

This is what I get in

[2022-07-28 19:17] xsm19 opened #1028 "About the new version v1.1.12"
hello everyone

1. If I use fast node #926  --diffsync and --pipecommit, which one should I choose to achieve faster synchronization speed?

2. Can I specify a block to start synchronization? For example: startingblock:100000000 I don't need too much data, and I don't want to synchronize from the genesis block.

[2022-07-29 03:09] PPianAIC commented on #1028
me too, I want to know

[2022-07-29 03:54] PPianAIC opened #1029 "running node error, I can't solve the problem"
internal/poll.(*FD).Read(0xc000125180, {0xc02f3e5e20, 0x20, 0x20})
        internal/poll/fd_unix.go:167 +0x25a
net.(*netFD).Read(0xc000125180, {0xc02f3e5e20?, 0x1003e3090a97f?, 0x7ffa380421a8?})
        net/fd_posix.go:55 +0x29
net.(*conn).Read(0xc000206f18, {0xc02f3e5e20?, 0xc01815a430?, 0x46b212?})
        net/net.go:183 +0x45
io.ReadAtLeast({0x1a00080, 0xc000206f18}, {0xc02f3e5e20, 0x20, 0x20},

[2022-07-29 10:27] barryz opened #1031 "new feature `--pruneancient` panics when syncmode is snap"
Release notes should notice this message to user who want to upgrade version to v0.1.12.

[2022-07-29 13:21] halilhaninan opened #1032 "Full node broadcasts transactions 2 block late"
Hey Folks,  I am running a full node and whenever I send a transaction, it’s always 2 blocks late. How can I resolve the issue? The full node is on AWS and comply with the requirements. Actually, I went the extra mile and get the better hardwire.

Also, how can I find BootstrapNodes so that my node perform better to broadcast my transactions?

[2022-07-29 15:59] James19903 commented on #1028
Good question

[2022-07-30 03:47] ntminh611 opened #1033 "flag provided but not defined: -puneancient"
#### System information

Geth version: `1.1.12-f68965a6`
OS & Version: Linux

#### Expected behaviour
Run ok with argument -puneancient

#### Actual behaviour
flag provided but not defined: -puneancient

#### Steps to reproduce the behaviour

#### Backtrace

[code]

When submitting logs: please submit them as text and not screenshots.

[2022-07-30 10:20] psdlt commented on #1032
hi. x+2 is expected behaviour. nothing that can be done about that.

[2022-07-30 10:20] psdlt commented on #1033
@ntminh611 have your tried -p**r**uneancient ?

[2022-07-30 11:11] heki-ru commented on #1033
It's a typo in docs

[2022-07-30 13:42] halilhaninan commented on #1032
thank you for your answer bro :)

[2022-07-30 14:25] kugimiya530 opened #1035 "For new version of geth"
if i am using v1.1.11

after updated to v1.1.12

how to set startup command to be best for us

there is too many new thing , fast node ,verify node, and pruneancient .. etc

[2022-07-31 01:58] guagualvcha commented on #1028
@xsm19 ,  `fastnode` mode is encouraged, once the node is running in fastnode mode, `diffsync` and `pipecommit` will be disabled automatically .

[2022-07-31 01:58] guagualvcha commented on #1033
There is a typo in the docs, fixed.

[2022-07-31 01:58] #1033 closed

[2022-07-31 01:59] guagualvcha commented on #1029
hi, would you provide the complete log files?

[2022-07-31 02:00] guagualvcha commented on #1021
It is recommended to download from latest snapshot https://github.com/bnb-chain/bsc-snapshots.

[2022-07-31 02:02] guagualvcha commented on #1026
1) No, no need to change anything.
2) If you are running an archive node, you should not enable fastnode.

[2022-07-31 02:24] kugimiya530 commented on #1026
Hi if we are running fullnode with v1.1.11 with --diffetent

For us , v1.1.12 new feature fastnode better or original fullnode ,which one is better performance

[2022-07-31 08:03] forcodedancing commented on #1031
@barryz can you share the panic logs? thanks

[2022-07-31 08:06] forcodedancing commented on #1027
@mj-dcb is there any other logs? Do you mean that geth was stuck?

[2022-07-31 08:08] forcodedancing commented on #1035
For fast/verify node, you check this to see whether you want to enable it or not. https://docs.bnbchain.org/docs/BSC-separate-node/

For pruneancient, you can check the command here: https://github.com/bnb-chain/bsc/releases

[2022-07-31 08:14] #1032 closed

[2022-07-31 08:18] forcodedancing commented on #1026
@kugimiya530 You can try fastnode, which has the better performance.

It turns out that the fast node can slow down the storage growth by 60%~90% according to different settings and increase the syncing efficiency by about 30%. We encourage node operators who do not care about 100% state consistency to enable fast nodes by appending --tries-verify-mode none to the node command. https://github.com/

[2022-07-31 08:23] forcodedancing commented on #1012
@Githugutech Can you try the config files and binary in the release https://github.com/bnb-chain/bsc/releases ?

If you still encounter issues with them, please share the config and command you you using. Thanks.

[2022-07-31 12:03] #1026 closed

[2022-07-31 13:13] forcodedancing commented on #875
@haumanto can you try the latest release https://github.com/bnb-chain/bsc/releases ? This log "Synchronisation failed, dropping peer" issue should be warnings.

[2022-07-31 18:04] ofarukcaki commented on #997
This is the reason I started learning go and my go knowledge is limited, any help regarding to re-enable this feature is appreciated. Currently I'm checking go-ethereum and the #358 together but no luck so far

[2022-07-31 20:20] JayMaree commented on #1027
There is no log file. It creates the log file but there is no content.

[2022-07-31 20:32] Chiray1 opened #1036 "Concern: Validator is running front run bot and not broadcasting transactions"
Look at the contract https://bscscan.com/address/0xa182c77ff2efa4ed737d1af6c137691f05bcb027. All the transactions aren't being broadcast to the network, instead they are being put in the block directly by the validator which is BNB48 club.
I don't think validators should abuse validating to make even more profit.

https://bscscan.com/address/0xffffffffff2005d56b30d1a8686171d0afb4584d
another front

[2022-08-01 01:56] guagualvcha commented on #1029
@PPianAIC

[2022-08-01 02:24] joeylichang commented on #1031
only under ‘--syncmode full’ mode supports --pruneancient flag

For pruneancient, you can check the newest command here: https://github.com/bnb-chain/bsc/releases

[2022-08-01 02:27] joeylichang commented on #1027
try add --syncmode full

[2022-08-01 03:23] 48ClubIan commented on #1036
Hello, I am from BNB48 Club.
These two bot mentioned are not run by us.  Actually we **do not** take exclusively advantage to run arb bot at all.

They might be users of our **Puissant** service, which provides private transaction(s) strictly following these rules:

1. Respect gasPrice priority, i.e. tx with lower gasPrice always gets served later than those with higher one.
2. Discrimination-free

[2022-08-01 03:26] PPianAIC commented on #1028
@guagualvcha I used fast mode before, but some history blocks cannot be found. Now I'm ready to switch to full. How can I start from 0, not continue 19573855?

{
  currentBlock: 19573856,
  highestBlock: 20048662,
  startingBlock: 19573855
}

[2022-08-01 04:00] PPianAIC commented on #939
Excuse me, it's not fully synced, can I restart full synced from 0? How to set starting from 0?

[2022-08-01 04:05] PPianAIC commented on #502
Excuse me, it's not fully synced, can I restart full mode from 0? How to set starting from 0?

[2022-08-01 05:13] #1031 closed

[2022-08-01 05:43] stonetown1975 commented on #502
BAD BLOCK with version v1.1.12. I have install new version and it was running fine for a day. On block 20,023,433 it stopped with  BAD BLOCK message and can not move forward.

it was running with --diffsync

I have tried solution recommended in https://github.com/bnb-chain/bsc/pull/628. I was trying to restart it with  --snapshot=false and then with --snapshot=false. It did not help. Any suggestio

[2022-08-01 05:55] stonetown1975 opened #1037 "BAD BLOCK with version v1.1.12"
I have installed new version and it was running fine for a day. On block 20,023,433 it stopped syncing with BAD BLOCK message and can not move forward.

it was running with -diffsync -rpc.allow-unprotected-txs --txlookuplimit 0

message from bsc.log

t=2022-08-01T05:00:02+0000 lvl=info msg="Skip duplicated bad block"              number=20,023,433 hash=0xf6b9492dce5716f85dc92e3ee9b5da80a15f79b13a8

[2022-08-01 05:58] forcodedancing commented on #1037
@stonetown1975 Can you share the full command you are using, as well as the relate logs?

For joining discord forum, please use this link: https://discord.com/invite/z2VpC455eU

[2022-08-01 06:01] #1022 closed

[2022-08-01 06:01] stonetown1975 commented on #1037
full command:

/d1/bsc/geth --config /d1/bsc/config.toml --datadir /d1/bsc/node --nat extip:98.207.164.61 --diffsync --cache=16000 --rpc.allow-unprotected-txs --txlookuplimit=0 --http.addr 192.168.1.8 --ws.addr 192.168.1.8

[2022-08-01 06:48] stonetown1975 commented on #1037
FYI, I used snapshot geth-snapshot  (db size 554.35 gb, 566.15 gb after decompression)  from https://github.com/BNB48Club/bsc-snapshots. Can it be the problem? It was able to get in sync and worked fine for a day.

[2022-08-01 07:34] forcodedancing commented on #1037
@stonetown1975 We tired your command in our node and cannot observe the issue as you encountered now. To bring you node back, can you try following options:
1) remove `--diffsync` in your command, OR,
2) revert blocks using `./geth --datadir /d1/bsc/node --exec 'debug.setHead("0x"+(eth.blockNumber - 15).toString(16))' attach` - `15` is the number of blocks you want to revert

Can you have a try to

[2022-08-01 10:54] Chiray1 commented on #1036
Ok sorry, I was unaware of the Puissant service

[2022-08-01 11:26] #1036 closed

[2022-08-01 13:02] Blackcol commented on #1037
@stonetown1975 It happened to me too, I downloaded the same snapshot and when bad block messages appeared I was using snapshot=true, then gracefully shutdown, start again using snapshot=false and now its working ok..

[2022-08-01 17:43] stonetown1975 commented on #1037
@Blackcol snapshot=true and then snapshot=false helped !!! thanks a lot for help. now it is syncing

[2022-08-01 19:43] stonetown1975 commented on #1037
the issue is resolved

[2022-08-01 21:50] pthor11 commented on #1022
Thank you

[2022-08-02 00:31] stonetown1975 commented on #1037
it happened again. new bad block at 20,047,357

t=2022-08-02T00:24:09+0000 lvl=info msg="Skip duplicated bad block"             number=20,047,357 hash=0x3ce54642aff4b0796be8e0d1a8de560aa13556afb3be150df0b9a6c535f50121
t=2022-08-02T00:24:09+0000 lvl=eror msg="\n########## BAD BLOCK #########\nChain config: {ChainID: 56 Homestead: 0 DAO: <nil> DAOSupport: false EIP150: 0 EIP155: 0 EIP158: 0 Byzantiu

[2022-08-02 00:34] stonetown1975 commented on #1037
I tried to rewind back by ./geth --datadir /d1/bsc/node --exec 'debug.setHead("0x"+(eth.blockNumber - 100).toString(16))' and it successfully processed 100 blocks until it hit block  20,047,357.  Then it stuck again.

[2022-08-02 00:43] stonetown1975 commented on #1037
Should I downgrade to v1.1.11?

[2022-08-02 01:36] PPianAIC commented on #1029
t=2022-08-02T01:27:15+0000 lvl=warn msg="Sanitizing cache to Go's GC limits" provided=10240 updated=6662
t=2022-08-02T01:27:15+0000 lvl=info msg="Enabling recording of key preimages since archive mode is used"
t=2022-08-02T01:27:15+0000 lvl=info msg="Set global gas cap"                 cap=25,000,000
t=2022-08-02T01:27:15+0000 lvl=info msg="Allocated trie memory caches"       clean="1.95 GiB" dirt

[2022-08-02 01:56] Blackcol commented on #1037
Maybe db is already corrupted, you should start syncing from snapshot again with snapshot=false from the start, debug.setHead didn't work for me too..

[2022-08-02 02:01] forcodedancing commented on #1028
You can download the recent snapshot from https://github.com/bnb-chain/bsc-snapshots and sync using full mode.

[2022-08-02 04:39] KyloYang888 opened #1039 "geth does not work properly after upgrading to v1.1.12"
Hi team, geth does not work properly after upgrading to v1.1.12. Can anyone help me? Thanks～

Start command：
geth --config=./config.toml --datadir=/data --cache=18000  --ws  --tries-verify-mode none

Logs：
<img width="1769" alt="image" src="https://user-images.githubusercontent.com/88371425/182292886-be66c031-1e54-4402-be0b-de19c89155ea.png">

Block synchronization no longer continues and the comp

[2022-08-02 06:34] Arinerron commented on #656
@alex88 how'd you go about fixing this? I'm having the same trouble where it looks very similar to the contract bytecode.

[2022-08-02 07:42] KyloYang888 commented on #1027
Hi @mj-dcb . Have you solved this problem? I have the same problem

[2022-08-02 07:44] KyloYang888 commented on #1035
Hi @forcodedancing . Can you help with this? Thanks

https://github.com/bnb-chain/bsc/issues/1039

[2022-08-02 09:49] forcodedancing commented on #1039
@KyloYang888 From logs, it was syncing from old blocks (you can see it from `ago`). Before using new version, did it catch up to the latest block?

[2022-08-02 09:51] forcodedancing commented on #1037
@stonetown1975 Can you try the recent snapshot to see whether it works or not ? https://github.com/bnb-chain/bsc-snapshots

[2022-08-02 09:53] forcodedancing commented on #1027
Did you also use this flat `--pruneancient` ?

[2022-08-02 09:56] forcodedancing commented on #1029
@PPianAIC Are you using v1.1.11, can you try with the latest binary https://github.com/bnb-chain/bsc/releases/tag/v1.1.12 ?

[2022-08-02 09:57] forcodedancing commented on #1035
sure, commented in the issue

[2022-08-02 10:30] PPianAIC commented on #1029
OK, I'll try

[2022-08-02 16:51] KyloYang888 commented on #1039
Hi @forcodedancing . Thanks~ Before the upgrade, the nodes were able to keep up with the latest blocks properly. It was only because v1.1.12 stopped itself a few times that it fell behind the main network.

[2022-08-02 17:05] KyloYang888 commented on #1039
v1.1.11 is working properly：
Command:  geth --config=./config.toml --datadir=/data --cache=18000 --rpc.allow-unprotected-txs --ws --txlookuplimit=0 --diffsync --persistdiff --pipecommit   --snapshot=false

<img width="1006" alt="image" src="https://user-images.githubusercontent.com/88371425/182432233-b6e289ed-00af-4cf5-811d-30f07242760a.png">

Then upgrade to v1.1.12:
Command: geth --config=./conf

[2022-08-02 18:41] singhsahilzeeve opened #1040 "Syncmode = fast not working with version 1.1.12-f68965a6"
#### System information

Geth version: `geth version`
OS & Version: Windows/Linux/OSX
Commit hash : (if `develop`)

#### Expected behaviour
Geth process to be running without any error.

#### Actual behaviour
Geth process stops with the following error.

invalid value "fast" for flag -syncmode: unknown sync mode "fast", want "full", "snap" or "light"

![Screenshot from 2022-08-03 00-05-55](https:/

[2022-08-02 23:55] stonetown1975 commented on #1037
Got synced from latest official snapshot https://download.bsc-snapshot.workers.dev/geth-20220802.tar.lz4. Let's see how it will go ..

[2022-08-03 01:06] forcodedancing commented on #1040
In release v1.1.12, `--syncemode` `fast` has been removed. Please refer to: https://github.com/bnb-chain/bsc/releases

[2022-08-03 02:05] forcodedancing commented on #1039
@KyloYang888 Can you remove the flag `--tries-verify-mode none` (`--snapshot=false` if use v1.1.11), then start the node. After running for a while, you can start it with `geth --config=./config.toml --datadir=/data --cache=18000 --ws --tries-verify-mode none` (do not add `--snapshot=false`).

Fastnode depends on snapshot for syncing, so we need to make sure snapshots are generated before turning

[2022-08-03 03:07] KyloYang888 commented on #1039
Hi @forcodedancing . I tried to start the node as you suggested, but it still doesn't work properly.

Version:
<img width="625" alt="image" src="https://user-images.githubusercontent.com/88371425/182515438-e6fad13c-147d-4082-b982-cd44f454d703.png">

Block synchronization no longer continues:
<img width="1264" alt="image" src="https://user-images.githubusercontent.com/88371425/182515489-67a93134-42

[2022-08-03 11:01] forcodedancing commented on #1039
Did it just hang there? Can you change the log level to `debug` or `trace` (in config file) to collect more info, to see it hangs on where? Thanks

[2022-08-03 11:41] GABASTAR opened #1041 "Using multiple nvme storages for node"
Hi guys, if I want to set up a node, do I need to have one 2TB nvme storage, or I can get two with 1TB each and that's will be ok?

[2022-08-03 15:48] CNSumi commented on #1041
yes, you could use multiple disk with raid, such as btrfs or lvm

[code]

[2022-08-03 16:40] GABASTAR commented on #1041
Thank you for comment

[2022-08-03 16:40] #1041 closed

[2022-08-04 01:49] PPianAIC commented on #1028
root@admin:~# geth version
Geth
Version: 1.1.12
Git Commit: f68965a615fdc8deaeb41e6b18fce2a7c60c2419
Git Commit Date: 20220728
Architecture: amd64
Go Version: go1.18.4
Operating System: linux
GOPATH=
GOROOT=go

t=2022-08-04T01:42:33+0000 lvl=info msg="Imported new chain segment"             blocks=53   txs=312  mgas=34.292  elapsed=8.106s      mgasps=4.230  number=2,613,143 hash=0x4ee6dea157b37624

[2022-08-04 08:50] Zorato opened #1042 "Docker image build fails"
#### System information

Geth version: `1.17`
OS & Version: MacOS 12.4 & Docker Desktop 4.11.0 (83626)
Commit hash :  `f68965a` (v1.1.12)

#### Expected behaviour
BNB Docker image built successfully

#### Actual behaviour
[code]

#### Steps to reproduce the behaviour
[code]
#### Backtrace

[code]

Seems that there is some conflict in package version resolution between cURL & ca-certificates.

[2022-08-04 09:23] forcodedancing commented on #1042
Can you use this https://github.com/bnb-chain/bsc/pkgs/container/bsc ?

[2022-08-04 09:56] Zorato commented on #1042
Unfortunately we are using one slightly modified RPC method in our app, so we can't use vanilla image.

[2022-08-04 17:18] stonetown1975 commented on #1037
after sync from official snapshot everything works fine for 2 days already. Only errors in log file are like
t=2022-08-04T17:14:15+0000 lvl=eror msg="do light process err at block"          num=20,152,043 err="account storage root mismatch" but it is expected according to https://github.com/bnb-chain/bsc/issues/672

[2022-08-04 17:18] #1037 closed

[2022-08-04 18:19] blissend opened #1043 "Linux arm binaries?"
I noticed since https://github.com/bnb-chain/bsc/issues/712 we've been including arm binaries for Linux. The latest release doesn't have one anymore. Happy to compile myself but wondering why the change to not include. Is it not going to be included going forward?

[2022-08-05 01:19] forcodedancing commented on #1043
@blissend No, arm version will not be included. The reason is that cross compiling is removed, and Github does not provide arm machines for us to release arm binaries. If you want arm version, you still can build it on an arm machine.

[2022-08-05 01:20] forcodedancing commented on #1042
@Zorato Can you refer to this pr https://github.com/bnb-chain/bsc/pull/1038 ? thanks

[2022-08-05 01:26] forcodedancing commented on #1028
@PPianAIC are you trying to setup an archive node (`--gcmode archive`) ? Is it your purpose?

[2022-08-05 06:22] PPianAIC commented on #1028
I want to implement a full node that contains all data

[2022-08-05 08:10] forcodedancing commented on #1028
There is a big difference on a full node and archive node. The requirement of archive node is much higher than full node. You can refer to this: https://forum.bnbchain.org/t/how-to-run-a-archive-node-on-bnb-smart-chain/264
If you do not need archive node (for most users), you can remove `--gcmode archive` and add `--pipecommit` to achieve better sync performance.

[2022-08-05 10:45] #1028 closed

[2022-08-06 21:21] alex88 commented on #656
you should use the runtime bytecode, I'm not sure how to take it from ethers.js but it's definitely in the json files

[2022-08-08 06:56] PPianAIC commented on #1028
I may need is an archive node, because I need all the historical data of the blockchain starting from the genesis block. Can I speed up sync？

[2022-08-08 09:50] PPianAIC commented on #1028
I have another question, How do I set ending block height that a segment archive node is a node which has all the data from one starting block height to one ending block height?

[2022-08-08 14:41] giovannirco commented on #1043
This will motivate 3rd party ARM builds that will be used by a lot of people I suppose, specially now with M1 macbooks and this brings a lot of other concerns. Isnt there anything else BSC team can do? Perhaps moving away from github actions since they dont provide all the tools necessary for the CI testing and builds?

[2022-08-09 05:47] IvanVakhmyanin commented on #911
Just made a research on the affiliation between flash arbitrageurs and validators. Scanned all the history of BSC to identify all arbitrage transactions, contract and contract owners. Then I've measured the correlation between profitable transactions and block validators. I could not find any strong evidence of affiliation with validators - at least for the top-earning validators. Their profits se

[2022-08-11 03:24] yasyzb opened #1045 "Is there a command to rollback to a special block?"
Is there a command to rollback to a special block?

[2022-08-11 07:07] j75689 commented on #1045
Example of rolling back 16 blocks from the latest:
[code]

[2022-08-11 10:01] wangtsiao opened #1046 "failed to pass unit test: bsc/cmd/geth/pruneblock_test.go"
I found `maxFeePerGas` and `baseFee` fields are not adopted in bsc when i recently reading reposity.

so why not remove this `baseFee` check in unit tests?

[code]

[2022-08-12 08:46] fenghaoming opened #1047 "[HELP] Where is the source code for 'custody addresses' and 'distributed in N+2 days' in the white paper?"
Hello, I see the following introduction from the white paper:
https://github.com/bnb-chain/whitepaper/blob/master/WHITEPAPER.md#rewarding
[code]

I see that the source code of bnb-chain/bsc adds a transaction at the end of the block.
consensus/parlia/parlia.go
[code]

The transaction call bnb-chain/bsc-genesis-contract contracts\BSCValidatorSet.sol function deposit(address valAddr).
[code]

Does t

[2022-08-12 16:01] pefka opened #1048 "Why, after downloading the database snapshot, do I see old blocks in the logs?"
Hi all,
I downloaded a snapshot of the database, it's a few days old.
Started geth, then stopped. Then, following the instructions, I copied the new data to the node/geth folder

And now I look at the logs and see, and I have the feeling that it didn’t see this snapshot there and is trying to index from scratch?
2022-08-12T17:56:54+0200 lvl=info msg="Imported new block receipts"           count=93

[2022-08-14 09:15] MrNaif2018 opened #1049 "Light syncmode support"
Hello! There are already some issues on that topic, but I wanted to re-ask because those seem to got lost. Is it possible to run binance smart chain via

`./geth_linux --config mainnet.toml --datadir data --syncmode light`?

I've seen light syncmode working sometimes, but looks like since some time for me and others it doesn't find any peers. Also related: #702

[2022-08-14 15:09] bitrocks opened #1050 "node crashed when switch tries-verify-mode"
#### System information

Geth version: `geth version`
1.1.12
OS & Version: Windows/Linux/OSX
Linux
Commit hash : (if `develop`)
f68965a615fdc8deaeb41e6b18fce2a7c60c2419

#### Expected behaviour
Sync correct

#### Actual behaviour

#### Steps to reproduce the behaviour

1. I follow the guide in https://github.com/BNB48Club/bsc-snapshots to set up a node, with command options: `--txlookuplimit=0 --d

[2022-08-15 07:48] Princeobinna opened #1052 "Approve assets"
#### System information

Geth version: `geth version`
OS & Version: Windows/Linux/OSX
Commit hash : (if `develop`)

#### Expected behaviour

#### Actual behaviour

#### Steps to reproduce the behaviour

#### Backtrace

[code]

When submitting logs: please submit them as text and not screenshots.

[2022-08-15 14:05] asobazol2 commented on #1036
The Puissant service doesn't allow gas price below 15 gwei. How to explain frontruns with 5 gwei gas price? Have seen in BNB48 and Avengers blocks.

[2022-08-16 17:45] bitrocks commented on #1050
Use the official snapshot now.

[2022-08-16 17:45] #1050 closed

[2022-08-16 17:48] bitrocks opened #1054 "JSON RPC getBlockByHash returns header not found frequently"
#### System information

Geth version: `geth version`
1.1.12
OS & Version: Windows/Linux/OSX
Linux
Commit hash : (if `develop`)

#### Expected behaviour
I called the getBlockByHash/getBlockByNumber after receiving `newHeads` event immediately, expecting it returns the latest chain head block.

#### Actual behaviour
 It frequently returns `{'code': -32000, 'message': 'header not found'}` error.

##

[2022-08-17 07:14] j75689 commented on #1048
I think you may not have specified the correct `--datadir` directory.

if use the latest snapshot data, It should be able to sync within three days.

[2022-08-17 07:38] j75689 commented on #1047
Delegation and distribution will happen from the beacon chain, you can find the source code here: https://github.com/bnb-chain/node

[2022-08-17 07:42] j75689 commented on #1046
`maxFeePerGas` and `baseFee` is merged from go-ethereum, if it is to be completely removed, it will require relatively large changes, and there are no plans to do so at the moment

But we can fix this uint-test

[2022-08-17 12:11] hadideveloper commented on #502
After syncing from snapshot [geth-20220816.tar.lz4](https://download.bsc-snapshot.workers.dev/geth-20220816.tar.lz4) I can get block data after block number "19144096". All eth.getBlock from Block 1 to 19144096 returns null, however, from 19144097 to lastBlockNumber it returns data.

Geth: 1.1.12
OS: Ubuntu 20.04
Snapshot: geth-20220816.tar.lz4

running command: ./geth_linux --config ./config.toml

[2022-08-18 10:08] pefka commented on #1048
I did some research and realized that this is normal behavior. You will still see the old blocks in the logs, even if you synchronize the database from the snapshot. And you still need to wait until the system processes even old data. I don’t know how long to wait, I checked after about 12 hours and saw already new blocks in the logs.
It's strange, of course, why not take a snapshot of the entire

[2022-08-18 10:08] #1048 closed

[2022-08-18 20:50] leviska commented on #502
snapshot probably contains only the last 128 blocks. It's for sure not the archive (all the data) snapshot, only the last blocks
Full snapshot takes around 15-20 tb of space, not 2 tb :)

[2022-08-19 02:03] guagualvcha commented on #1049
hi, @MrNaif2018  since a lot of nodes running in `fastnode` mode which can not serve light client, I think it is difficulty to find a peer to serve light client.

[2022-08-19 02:04] #1047 closed

[2022-08-19 02:05] guagualvcha commented on #1042
It is been fixed.

[2022-08-19 02:05] #1042 closed

[2022-08-19 02:06] guagualvcha commented on #1029
I will close this issue, feel free to open new one if any concern.

[2022-08-19 02:06] #1029 closed

[2022-08-19 02:06] #1035 closed

[2022-08-19 02:09] #1040 closed

[2022-08-19 02:37] forcodedancing commented on #1021
@hophat I will close this issue for inactivity of it. It you still have issues, please reopen it or create a new one. Thanks.

[2022-08-19 02:37] #1021 closed

[2022-08-19 02:37] forcodedancing commented on #1039
Hi @KyloYang888 I will close this issue for inactivity of it. It you still have issues, please reopen it or create a new one. Thanks.

[2022-08-19 02:37] #1039 closed

[2022-08-19 02:38] forcodedancing commented on #1027
Hello @mj-dcb I will close this issue for inactivity of it. It you still have issues, please reopen it or create a new one. Thanks.

[2022-08-19 02:38] #1027 closed

[2022-08-19 02:39] forcodedancing commented on #1012
Hello @Githugutech I will close this issue for inactivity of it. It you still have issues, please reopen it or create a new one. Thanks.

[2022-08-19 02:39] #1012 closed

[2022-08-19 03:21] hujw77 opened #1058 "Is there any stable mainnet and testnet achive node provider for `eth_getProof` API?"

[2022-08-19 04:43] MrNaif2018 commented on #1049
I see, thanks. So it is not a bug? Because many users in the linked issue have told that it happened after geth update but I think it was not the one with fastsync

[2022-08-19 07:16] j75689 commented on #1058
NodeReal has a service that supports Archive, you can refer to their documentation: https://docs.nodereal.io/nodereal/meganode/archive-node

[2022-08-19 08:18] suyog-unmarshal commented on #502
after release v1.1.8 bsc official snapshots are block-pruned, before that it was just state-pruned. thats the reason blockdetails are missing

[2022-08-19 09:51] fmira21 opened #1059 "BSC node 1.1.12 is constantly looking for peers (Testnet, Linux)"
Hi guys!
My BSC node is started in the `full` mode, and cannot find any peers.

During one of setups, I was waiting for 16 hours - nothing changed.
What am I doing wrong?

Thanks in advance!

Logs from the start:

[code]

Arguments for starting:

[code]

[2022-08-19 10:19] j75689 commented on #1059
The `chain configuration` is wrong,  you can see that your ChindID is `1` and the id of bsc testnet is `97`

please try the following steps:
1. wget https://github.com/bnb-chain/bsc/releases/download/v1.1.12/testnet.zip
2. unzip testnet.zip
3. geth init ./genesis.json --datadir ${datadir_folder}
4. geth --config .... --datadir ${datadir_folder}

[2022-08-19 18:02] amindotb commented on #439
@urkishan Could you resolve this issue finally?

[2022-08-19 19:03] 48ClubIan commented on #1050
BNB48's snapshot is fine, you just misoperate about how the new `pruneacient` feature and all other flags works.

`pruneacient` only keeps latest blocks, so if you want to query more blocks out of the range, it may fail. `--diffsync` has nothing to do with it.

Another thing you did wrong is remove `--tries-verify-mode=none` while leaving `pruneacient`, it's not supposed.

At last, `pruneacient` d

[2022-08-22 05:19] #1046 closed

[2022-08-22 10:02] prostack364 opened #1064 "Is that correct algorithm to push the given node to nodesByDistance entries?"
I am guessing this function is not correct on file `table.go` in path `p2p/discover`
[code]
The `ix` indicates the index of first entry which is not close to target than the given node. This is for sorting entries by distance.

But this function is appending the given node at last index.

I hope someone to answer to elaborate this function.

[2022-08-23 14:51] Githugutech commented on #1012
Thanks i got a different option from friends on discord and it worked like magic

[2022-08-23 14:51] Githugutech commented on #1012
Thanks for the assistance

[2022-08-23 14:53] Githugutech commented on #1012
If you would like me to share the new method that syncs fully within 4 hours from start to finish, i will gladly share.

[2022-08-26 06:59] acswap commented on #502
Snapshots start from the latest snapshot and are not started from the original snapshot.

通过 [Proton Mail](https://proton.me/) 安全邮箱发送。

------- Original Message -------
2022年8月19日 星期五 4:19 下午，Suyog ***@***.***> 来信：

[2022-08-26 07:07] #1059 closed

[2022-08-30 14:39] guagualvcha opened #1071 "bsc fast node halt when transaction volume is large"
#### System information

Geth version: `geth version`: v1.1.12
OS & Version: Windows/Linux/OSX
Commit hash : (if `develop`)

#### Expected behaviour
<img width="924" alt="image" src="https://user-images.githubusercontent.com/7310198/187466700-48ab67d8-7744-42ba-9c66-83808de637dc.png">

[code]
#### Actual behaviour

#### Steps to reproduce the behaviour

#### Backtrace

[code]

When submitting logs

[2022-08-31 03:16] diwu1989 commented on #1071
I've hit this as well recently and had to fall back to using a normal full node.

[2022-08-31 05:51] zhiqiangxu opened #1072 "rpc service should distinguish between trie not exist and zero value"
Currently if one tries to fetch any state beyond snapshot, the result will be all zero instead of an explicit trie node error.

This can cause confusion when using tools like cast:

[code]

The reason is that balance api returns zero so the tx run is failed as a result of out of gas

[2022-08-31 15:50] ottodevs opened #1074 "When trying to prune with pruneancient, the program cannot continue and the error message is wrong"
Hi, It seems confusing logging this as a warning, when it is causing an unrecoverable error, so why not directly an error?

The message, seems cryptic, I think it can be improved to be human readable? What does it mean "can add pruneancient parameter resolve"???, Interpreting and following the recommended advice does not work, `geth snapshot prune-state` does not accept any `pruneancient` paramete

[2022-08-31 15:55] ottodevs commented on #1074
By reading the code, I see there is no an actual way to prune the node with `pruneancient` enabled, maybe I am missing something or is not needed at all, but those lines of code check if the db is `PruneFreezerType` then throws the error, there doesn't seem to be any alternative logic to bypass this error based on any extra parameter, so it seems the error I quoted it is just misleading the node o

[2022-08-31 16:24] ottodevs commented on #1074
Related to #1034

[2022-09-01 04:28] yasyzb opened #1075 "what's the max size of a block?"
I find the max size of transaction is 128KB in source code, but can't find the max size of block, can you tell me?

[2022-09-02 03:14] #1058 closed

[2022-09-03 11:08] gitloverr commented on #1050
hi, how did you solve this problem?

My node has this problem now. what should I do?

thank u

[2022-09-03 12:38] MaksimKel commented on #269
Hi guys!
very interesting article, it is a pity that I did not see it earlier)

Is anyone else trying to create an arbitrage earning system at this time?

In my opinion, validators have nothing to do with it. I have been creating my script for arbitration for a long time and during this time I have had a lot of successful transactions. From receiving the window signal to committing the transaction

[2022-09-05 01:31] masayil opened #1078 "validate state failed during diff sync"
I enable `diffsync` and the node prints these logs.

ERROR[09-05|01:29:53.930] validate state failed during diff sync   error="invalid merkle root (remote: 33c0618c9462d6ed248fe387238772c2debbbe1a2736529bcfd53e5a68199b58 local: 865e6f1f273ef03e0011377124e1139637822e1686532e038c3c22d0ac1533ee)"
ERROR[09-05|01:29:53.931] do light process err at block            num=21,053,576 err="invalid merkle roo

[2022-09-05 01:50] masayil commented on #1078
Is the data of the node  corrupted？

[2022-09-05 03:53] owen-reorg commented on #1075
There is no size limit for blocks. Block size is limited by the block gas limit.

Another soft limit is the network packets of P2P protocol, which is 10MB.

references:
- https://github.com/ethereum/go-ethereum/issues/20588
- https://github.com/ethereum/go-ethereum/issues/23920
- https://github.com/ethereum/EIPs/blob/master/EIPS/eip-4488.md

[2022-09-05 03:53] #1075 closed

[2022-09-05 06:53] owen-reorg commented on #1072
The public RPC endpoints do not support archive data queries. Try to use 3rd party RPC service which supports this feature, e.g. [Meganode](https://meganode.nodereal.io/).

I tried the exact command with Meganode RPC and it worked.

[2022-09-05 06:53] #1072 closed

[2022-09-05 07:39] owen-reorg commented on #1072
The protocol or RPC spec does not specify how should it return for state beyond snapshot.
In BSC, most node will prune historical blocks and state as they need to reduce disk space usage. There are many modes and commands to do this.
It's hard for the RPC implementation to distinguish trie not exist and zero value.

Thank you for your PR and better idea about this is warmly welcomed.

[2022-09-05 08:23] owen-reorg commented on #1074
It seems this issue had been fixed by https://github.com/bnb-chain/bsc/pull/1053 and released in [v1.1.13](https://github.com/bnb-chain/bsc/releases/tag/v1.1.13).

Please try with the new binary.

And we'll optimize the error message to make it more clear in further releases.

[2022-09-06 01:06] #1078 closed

[2022-09-06 02:20] #1074 closed

[2022-09-07 07:02] yasyzb commented on #1075
thank you

[2022-09-08 11:23] taina0407 commented on #269
Can you share more information about your "system".
I've build my own BOT extracting MEV, from signal new pending transaction to submit my owns will take around 10-50ms; but all of them are failed.
Then I've checked bscscan the "arbitragable" transaction, and find out that the very next transaction index in the block will be another MEV bot transaction. Since mine are 50-100 transaction index behi

[2022-09-09 08:04] billyadelphia opened #1080 "Node is stopped updating blocks when it submit new transaction"
#### System information

Geth version: 1.1.13 & 1.1.12
OS & Version: Linux

I have encounter an issue where the node is stopped updating the blocks when it submit new transaction for few seconds
For example, I submit new transaction on block number 21176083, the block is stuck on that number for like 15 to 30 seconds and then resumed updating the block to the latest. It only happened both version

[2022-09-10 13:22] panella87 commented on #1027
same problem, did you solved it?

[2022-09-12 08:03] devilrayzl opened #1081 "Synchronisation failed and retrieved hash chain is invalid: missing parent"
#### System information

Geth version: `[v1.1.12](https://github.com/bnb-chain/bsc/releases/tag/v1.1.12)`
OS & Version: Linux

#### Expected behaviour
Sync successful.

#### Actual behaviour
Not sync and always looking for peers.

[code]

#### Steps to reproduce the behaviour
using snapshot of BNB48Club's geth.21196522.tar.lz4.
https://snapshots.bnb48.club/geth.21196522.tar.lz4

[2022-09-12 14:20] arthurwolf commented on #1012
Please share what you did to fix this, I am running into the same issue and can't find a solution.

[2022-09-12 14:35] arthurwolf opened #1082 "Genesis Mismatch error"
I'm following the instructions at:
* https://docs.bnbchain.org/docs/validator/fullnode/
* As well as https://medium.com/@pieterc/running-a-full-node-with-geth-bsc-610085141248

I downloaded the full snapshot from https://download.bsc-snapshot.workers.dev/geth-20220910.tar.lz4, extracted it.

I then downloaded the pre-built binaries and config/genesis.

I downloaded/updated geth to the latest versi

[2022-09-13 13:25] greyireland commented on #1082
try this config.
https://github.com/bnb-chain/bsc/releases/download/v1.1.13/mainnet.zip

[2022-09-13 16:06] du5 commented on #1043
try this:

[code]

[2022-09-13 16:24] arthurwolf commented on #1082
I just fixed this.
The instructions were wrong, said to use geth instead of geth_linux (which it tells you to download but never to use).
So I was on the wrong version.
Added a PR to the docs to fix this after somebody in the discord suggested to do so.

[2022-09-13 19:22] b68h4 commented on #1081
I am living same problem on server , i cant fix

am using the latest bnb48club snapshot, @48clubIan u can help we?

[2022-09-13 20:14] b68h4 commented on #1081
[code]

[2022-09-15 12:32] KeefeL commented on #1081
You can also try the snapshot here: https://github.com/bnb-chain/bsc-snapshots

[2022-09-15 12:42] KeefeL commented on #1082
Glad you have fixed this, has the PR been proposed and merged?

[2022-09-15 12:43] KeefeL commented on #1082
Glad you have fixed this, has the PR been proposed and merged? @arthurwolf

[2022-09-16 07:12] adapt7 opened #1083 "Full node: mismatching validator list on epoch block"
#### System information

Geth version: 1.1.9
OS & Version: Linux
Commit hash :

#### Expected behaviour

Node in sync.

#### Actual behaviour

Node stopped syncing on specific block number: 21367800

#### Steps to reproduce the behaviour

#### Backtrace

[code]

What's the suggested fix here? This affected all my full nodes, not just one.

[2022-09-16 09:32] KeefeL commented on #1082
Could you paste your PR here? Then I can help check. @arthurwolf

[2022-09-16 09:39] KeefeL commented on #1083
Your geth version is too old, try to upgrade it to the newest release @adapt7

[2022-09-16 09:41] arthurwolf commented on #1082
https://github.com/bnb-chain/bnb-chain.github.io/pull/22 @KeefeL

[2022-09-16 20:26] adapt7 commented on #1083
Thanks @KeefeL

Upgrading geth to the latest and restarting node from snapshot data solved the problem.

[2022-09-16 20:26] #1083 closed

[2022-09-17 07:06] ofarukcaki opened #1084 "Bad Block and invalid merkle root error while running testnet node"
#### System information

Geth version: `v1.1.13`
OS & Version: macOS 12.4

#### Expected behaviour
Should sync with the testnet

#### Actual behaviour
I'm trying to run testnet node, but it stuck after some point.  It says **BAD BLOCK** and **Error: invalid merkle root**
Nothing happens after that, I'm unable to continue further

#### Steps to reproduce the behaviour

#### Backtrace

[code]

[2022-09-17 08:51] ofarukcaki commented on #1084
I set the head using debug.sethead() to 1000 block behind the current and it started running normally until reaching the same block above (Number: 22800220) it stuck again with the bad block error. Cannot continue further from this block

[2022-09-17 11:40] lokeshratnam09 opened #1085 "Please Provide Right Way to Sync Geth Client with command After merging network with Beacon"
My Geth Command To Sync -

./geth   --syncmode snap  --http  --datadir "/home/ubuntu/MainNet_14.09.2022" --http.api eth,net,db,web3,debug,miner,admin,personal,engine,txpool  --authrpc.jwtsecret /home/ubuntu/ethereum/prysm/jwt.hex --allow-insecure-unlock

My Beacon Command To Sync -

./prysm.sh beacon-chain  --checkpoint-sync-url https://beaconstate.info/ --datadir "/home/ubuntu/MainNetttt_15.09.20

[2022-09-17 15:45] Alarrab9 opened #1086 "Scam report"
Hi support team
Plz i want to report scam coin
The team of this project stole it from my wallet , the assist value was more than $450000 I store it for 330 day's.. and when i talked to the admin he sent me alink to give him the seeds of the wallet .. clearly he want to stole the wallet ,only stopped Will give him his wallet seeds , so this is my broplem and besid all of that i have the conversatio

[2022-09-18 10:34] xiyuewang3 commented on #980
Me too

[2022-09-18 21:20] eyooooo opened #1087 "geth hangs forever after exiting"
when typing 'exit' into my node console, i receive 3 log messages and the node hangs forever, continually repeating ` Snapshot extension registration failed` messages.

any help? thanks so much.

![image](https://user-images.githubusercontent.com/72911240/190928514-3ec496ae-b529-4be9-9c63-e0aa4b733eff.png)

bsc geth v1.1.12
Ubuntu 20.04.4 LTS

[2022-09-19 03:10] KeefeL commented on #1085
BSC does not need to sync with the beacon node.

[2022-09-19 03:28] KeefeL commented on #1082
Thanks, the PR has been merged now.

[2022-09-19 03:28] #1082 closed

[2022-09-19 03:47] #1087 closed

[2022-09-19 06:48] KeefeL commented on #1084
Could you check if the binary version is really v1.1.13, because there is a hard fork on 22800220 introduced in v1.1.13, if you didn't upgrade your binary, you will face this problem, but if you are already using the v1.1.13 binary, I think this should not happen.

[2022-09-19 07:36] KeefeL commented on #1086
Could you report this to the BNB chain's telegram, I will gonna to close this issue here.

[2022-09-19 07:40] ofarukcaki commented on #1084
[code]

Yes, it is 1.1.13 which I directly downloaded from GitHub releases and I started by initializing the testnet node and started sync from scratch 2 days ago.
I'm using apple m1 processor, should it be somehow related?

[2022-09-19 07:53] odannis commented on #980
My node has the same problem. It was fine for months, and one week ago it started to falling behind the current block (10-60 min behind). I updated geth-bsc to the latest release, started for a fresh snapshot, but the difficulty persisted.
I moved to erigon for bsc, and it is working well except for some rpc request..

 I have several other nodes (fantom, eth, avax) running on the same computer an

[2022-09-19 08:56] ofarukcaki commented on #1084
I just built the binary from the source and apparently, I passed that block and it continues to sync correctly. I still don't know whether the binary was the problem but yeah, it works now ^^.

[2022-09-19 08:56] #1084 closed

[2022-09-19 09:50] BrokedTV commented on #1050
How was this issues solved? Which flags did you use to get a quick syncing node?

[2022-09-19 09:58] terianil commented on #1043
What is the problem with cross compiling?

[2022-09-19 09:59] BrokedTV commented on #502
I recently updated my node to the latest version, as i was still on 1.1.8  but my nodes often stay behind a couple of blocks, then catch up again, then miss a couple of blocks.
Any suggestion on how to make it reliably getting the most up to date blocks?
![image](https://user-images.githubusercontent.com/7578190/190993662-bd9777e7-5f57-468a-b5cf-4677ffe98668.png)

i'm using these flags from the sn

[2022-09-20 08:25] cshintov commented on #804
I don't see pruned databases there!
Where can I get a snapshot with historical data?

[2022-09-20 12:02] E0001 opened #1088 "A lot of tx will be submitted at the same time, and then many cannot be packaged. Is this normal"
A lot of tx will be submitted at the same time, and then many cannot be packaged. Is this normal ，How can I solve this problem？

[2022-09-21 03:12] guagualvcha commented on #1088
hi, @E0001  can you give more details about how you find `A lot of tx will be submitted at the same time` and how it impact your service?  In general, to avoid unready transaction to accumulated in tx pool, you can try adjust the following settings in config.toml:

[code]

[2022-09-21 03:12] #1086 closed

[2022-09-21 03:14] #1071 closed

[2022-09-21 03:15] #1085 closed

[2022-09-22 02:47] unlimittt opened #1092 "eth_getLogs"
Hot to get logs for past data?
Was trying `geth --syncmode=full` but it seems do not has one.

[2022-09-22 03:07] unlimittt commented on #970
So what was the decision to get transaction receipts?

[2022-09-23 02:34] csquan opened #1093 "what is TPS now?any idea to how improve it?"
what is TPS now?any idea to how improve it?

[2022-09-23 03:14] csquan opened #1094 "what's difference between DPOS and POSA?"
what's difference between DPOS and POsA?
BSC use POsA,but what is the improvement than dpos?

[2022-09-23 06:57] wangtsiao opened #1095 "Prune failed"
#### System information

Version: 1.1.13
Architecture: amd64
Go Version: go1.18.1
Operating System: linux

#### Question

Prune failed when I execute `geth snapshot prune-block --datadir /data/bsc/ --datadir.ancient /data/bsc/geth/chaindata/ancient`.

[code]

[2022-09-23 11:01] yasyzb opened #1096 "Is there a field to specify a block can not be rollback?"
Is there a field to specify a block can not be rollback?
ETH2 can use "finalized" to refer to the latest finalized block.

[2022-09-24 08:48] ofarukcaki opened #1098 "Failed to prune state snapshot: not old enough yet: need 128 more blocks"
#### System information

Geth version: ` 1.1.13`
OS & Version: OSX  12.4
[code]

#### Expected behaviour
I wanted to do prune state and free up some disk space.

#### Actual behaviour
`./geth snapshot prune-state --datadir node` command is always failed with the message:
[code]

#### Steps to reproduce the behaviour
1. I ran my node with `./geth --datadir node --config config.toml --cache 12000 --

[2022-09-24 14:26] E0001 commented on #1088
Let me check. Thank you

[2022-09-24 14:42] E0001 commented on #1088
Is there any document about the configuration file? I don't know what many configurations mean

[2022-09-24 21:28] banlieu451 opened #1099 "[SOLVED after 6days of syncing] Impossible to sync this release full or snap"
Hello i cant sync my node the node is completly at the current block but never return me false

i have the lastest release bnb chain

My computer is :

-12 cores xeon
-2 G/B internet speed (FRANCE)
-2To NVME SSD CRUTIAL (82% used)
-32 RAM Go

Command is :

./geth datadir etc ... but i add snapshot false
And syncmode snap(tried full too)

To import a block it take me like 700us lowest 1 sec

I am a

[2022-09-26 06:51] du5 commented on #1088
[code]

[2022-09-26 22:53] banlieu451 commented on #1099
Ok it work

new states entries was not over

[2022-09-27 04:59] tomekozlowski commented on #269
@MaksimKel oh is that so? And how did you get past the t+2 problem?

[2022-09-27 05:01] guagualvcha commented on #1093
Please refert to https://forum.bnbchain.org/t/bsc-development-outlook-2022/44

[2022-09-27 05:01] #1093 closed

[2022-09-27 05:01] tomekozlowski commented on #1032
Only Binance can land t+1

[2022-09-27 05:02] guagualvcha commented on #1094
The difference is that once a validator has been selected,  they get the same chance to propose blocks, while DPOS is according to the staking power.

[2022-09-27 05:05] #1099 closed

[2022-09-27 05:06] guagualvcha commented on #1095
Did you remove the ancient directory before execting this command?

[2022-09-27 05:09] guagualvcha commented on #1096
Hi, for BSC right now it is probabilistic finality, we suggest 11 blocks.

And we will launch BSC fast finality by end of 2022, it is similar to ETH2 Casper FFG finality, until then, the finality blocks will be 2-3 blocks in most cases.

[2022-09-27 05:09] #1096 closed

[2022-09-27 05:11] guagualvcha commented on #1098
hi, @ofarukcaki  it may be caused by force stop, you can restart your node and run for few hours, then stop and try again.

[2022-09-27 05:12] guagualvcha commented on #1092
All fullnode get the historical logs except the light client.

[2022-09-27 08:55] #1092 closed

[2022-09-27 11:20] ctanbern opened #1101 "Warning! MEV appear on BSC!"
Validator: Avengers
Validator: Alps
Validator: BNB48 Club

This validators provide closed access to MEV. What is contrary to the principles of the network.
Same adress run several mev bots on ETH main network. https://etherscan.io/address/0x38563699560e4512c7574c8cc5cf89fd43923bca

https://bscscan.com/tx/0x0302b02863b497d8bc0d081b8e5572ceb5c181b942e1cbd49e4248fa4e7445e0
This tx is example. Its nev